<footer class="footer" id="footer">
  <div class="container flex">
    <div class="-logo">
      知鱼网络
    </div>
    <nav class="-nav">
      <h5 class="-title"><a href="https://stackoverflow.com">Stack Overflow</a></h5>
      <ul class="-list">
        <li class="-item"><a href="/questions" class="-link">首页</a></li>
        <li class="-item"><a href="/jobs" class="-link">发现</a></li>
        <li class="-item"><a href="#" class="-link">动态</a></li>
        <li class="-item"><a href="/documentation" class="-link">来往</a></li>
        <li class="-item"><a href="/help" class="-link">用户</a></li>
      </ul>
    </nav>
    <div class="-nav">
      <h5 class="-title"><a href="https://stackoverflow.com">商务合作</a></h5>
      <ul class="-list">
        <li class="-item"><a href="/questions" class="-link">Questions</a></li>
        <li class="-item"><a href="/jobs" class="-link">Jobs</a></li>
        <li class="-item"><a href="https://stackoverflow.com/jobs/directory/developer-jobs" class="-link">Developer Jobs
          Directory</a></li>
        <li class="-item"><a href="/documentation" class="-link">Documentation</a></li>
        <li class="-item"><a href="/help" class="-link">Help</a></li>
        <li class="-item"><a href="/help" class="-link">Mobile</a></li>
      </ul>
    </div>
    <div class="-nav">
      <h5 class="-title"><a href="https://stackoverflow.com/company/about">关于知鱼</a></h5>
      <ul class="-list">
        <li class="-item"><a class="-link" href="https://stackoverflow.com/company/work-here">服务条款</a></li>
        <li class="-item"><a class="-link" href="https://stackexchange.com/legal">帮助</a></li>
        <li class="-item"><a class="-link" href="https://stackexchange.com/legal/privacy-policy">加入我们</a></li>
        <li class="-item"><a class="-link" href="https://stackoverflow.com/company/contact">联系我们</a></li>
      </ul>
    </div>
    <div class="-nav">
      <h5 class="-title"><a href="https://stackoverflow.com">友情链接</a></h5>
      <ul class="-list">
        <li class="-item"><a href="/questions" class="-link">知乎</a></li>
        <li class="-item"><a href="/jobs" class="-link">19楼</a></li>
        <li class="-item"><a href="#" class="-link">果壳网</a></li>
      </ul>
    </div>
    <div class="-copyright">
      Inc; user contributions licensed under cc by-sa 3.0 with attribution required. rev 2017.7.26.26612
    </div>
</footer>
