<header class="header fixed" id="header" data-logged-in="${logged_in}">
  <div class="container">
    <div class="header-site">
      <a class="-logo" href="/">
        <span>蝴蝶网</span>
      </a>
      <div class="-city">
        <span>杭州</span>
        <a class="-switch" href="javascript:;">[切换]</a>
      </div>
    </div>

    <div class="header-content">
      <nav class="header-content-nav">
        <ol class="-list">
          <li class="-item active">
            <a href="/">首页</a>
          </li>
          <li class="-item">
            <a href="/find">发现</a>
          </li>
          <li class="-item">
            <a href="/contact">来往</a>
          </li>
          <li class="-item">
            <a href="/user">用户</a>
          </li>
        </ol>
      </nav>
      <form class="header-content-search" id="search" action="/search" method="get" class="searchbar"
            autocomplete="off">
        <input name="q" type="text" placeholder="搜索你感兴趣的内容..." autocomplete="off" class="-search">
        <button type="submit" class="-submit">
          <i class="ion ion-ios-search"></i>
        </button>
      </form>

      <% if not home%>
      <!-- 非首页显示 Start -->
      <a class="header-content-ask" target="_blank" href="/ask">提问</a>
      <!-- 非首页显示 End -->
      <% endif%>

    </div>

    <% if not logged_in %>
    <!-- 未登录显示 Start -->
    <div class="header-login">
      <a data-type="1" href="/login?type=login"><span>登录</span></a>
      <span class="-split">|</span>
      <a data-type="2" href="/login?type=regist"><span>注册</span></a>
    </div>
    <!-- 未登录显示 End -->
    <% else %>

    <!-- 已登录显示 Start -->
    <ul class="header-action">
      <li class="-item">
        <a href="javascript:;" class="-link">
          <i class="ion ion-ios-notifications"></i>
        </a>
      </li>
      <li class="-item">
        <a href="javascript:;" class="-link">
          <i class="ion ion-md-mail"></i>
        </a>
      </li>
      <li class="-item dropdown">
        <a href="javascript:;" class="-link">
          <i class="ion ion-md-person"></i>
        </a>
        <div class="dropdown-menu">
          <span class="dropdown-arrow"></span>
          <a class="dropdown-item" href="/centre">
            <i class="ion ion-md-apps"></i>
            个人中心
          </a>
          <a class="dropdown-item" href="/profile">
            <i class="ion ion-ios-person"></i>
            主页
          </a>
          <a class="dropdown-item" href="/setting">
            <i class="ion ion-md-settings"></i>
            设置
          </a>
          <a class="dropdown-item" href="/user/logout">
            <i class="ion ion-md-power"></i>
            退出</a>
        </div>
      </li>
    </ul>
    <!-- 已登录显示 End -->
    <% endif %>
  </div>
</header>
