<header class="header fixed" id="header">
  <div class="container flex-justify-between">
    <div class="header-site flex-item-center">
      <a class="header-site-logo" href="#">
          <span>蝴蝶网</span>
      </a>
      <div class="header-site-city">
        <span>杭州</span>
        <a class="vm-switch" href="#">[切换]</a>
      </div>
    </div>
    <div class="header-content flex-item-center">
      <nav class="header-content-nav">
        <ol class="-list flex">
          <li class="-item active">
            <a class="-link" href="/">首页</a>
          </li>
          <li class="-item">
            <a class="-link" href="/find">发现</a>
          </li>
          <li class="-item">
            <a class="-link" href="/contact">来往</a>
          </li>
          <li class="-item">
            <a class="-link" href="/user">用户</a>
          </li>
        </ol>
      </nav>
      <form class="header-content-search" id="search" action="/search" method="get" class="searchbar" autocomplete="off">
        <input name="q" type="text" placeholder="搜索你感兴趣的内容..." value="" tabindex="1" autocomplete="off" class="vm-search">
        <button type="submit" class="vm-submit">
            <i class="vm-icon ion ion-ios-search"></i>
        </button>
      </form>
    </div>
    <ul class="header-action">
      <li class="-item">
        <a href="#" class="-link">
          <i class="ion ion-ios-notifications"></i>
        </a>
      </li>
      <li class="-item">
        <a href="#" class="-link">
          <i class="ion ion-md-mail"></i>
        </a>
      </li>
      <li class="-item dropdown">
          <a href="#" class="-link" data-toggle="dropdown">
            <i class="ion ion-md-person">
          </i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/centre">
              <i class="ion ion-md-apps"></i>
              个人中心
            </a>
            <a class="dropdown-item" href="#">
              <i class="ion ion-ios-person"></i>
              主页
            </a>
            <a class="dropdown-item" href="#">
              <i class="ion ion-md-settings"></i>
              设置
            </a>
            <a class="dropdown-item" href="#">
              <i class="ion ion-md-power"></i>
              退出</a>
          </div>
      </li>
    </ul>
  </div>
</header>