<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>动态 - 知鱼知乐</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body class="page-task">
  <%- include ../layout/header -%>
    <main id="content" class="container flex-justify-between">
      <div class="content-column">
        <acticle class="dynamic">
          <div class="-topic">
            <span class="-uname">
              柳柳
            </span>
            <span class="-behavior">
              赞同了回答
            </span>
            <span class="-timeline">
              34 分钟前
            </span>
          </div>
          <div class="-author">
            <p class="-user">
              <a class="-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="-uname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">萦萦宝贝儿</a>
            </p>
            <p class="-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="-title">
            AR扫花迎七夕花礼，我在支付宝AR扫花中了一朵花，快来帮我施肥赢七夕花礼。
          </div>
          <div class="-content">
            复制分享码：BDLGWNKIU73DKOO3UHAN，在淘宝客户端中打开，完成施肥。
          </div>
        </acticle>
      </div>
      <aside class="content-sidebar">
        <seaction class="stas">
          <p>获得 99 次赞</p>
          <p>关注：99</p>
          <p>粉丝：1800</p>
          <p>我的回答/响应：120次</p>
        </seaction>
        <div class="menu">
          <a href="">
            私信
          </a>
          <a href="">
            个人资产
          </a>
          <a href="">
            我关注的问题
          </a>
          <a href="">
            我的收藏
          </a>
          <a href="">
            我的回答
          </a>
          <a href="">
            我的响应
          </a>
        </div>
      </aside>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>