@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";


.menu {
    @extend .flex-column;
}


.marketing {
    @extend .flex-justify-between;
    .marketing-item {
        width: 30%;
        flex: 1;
    }
}


.hot-tags,
.hot-team,
.hot-favorite {
    min-height: 300px;
}

