<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>知鱼 - 解决问题，相遇美好</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body class="page-task">
  <%- include ../layout/header -%>
    <main id="content" class="container flex-justify-between">
      <div class="content-column">
        <section class="dynamic">
          动态
        </section>
      </div>
      <aside class="content-sidebar">
          <section class="hot-tags">
            <div class="mod-hd">
              头像
            </div>
          </section>
          <section class="hot-team">
            <div class="mod-hd">
              栏目
            </div>
          </section>
      </aside>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>