@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";

@import "../common/scss/components/buttons.scss";

.content-nav {
  @extend .flex;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #E5E5E5;

  a {
    padding: 0 20px;

    &.active {
      border: 1px solid #E5E5E5;
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      height: 36px;
      background: #fff;
    }
  }
}

.content-setting {
  margin-top: 20px;
  min-height: 500px;
}

.profile-form {
  margin-left: 5px;
  margin-top: 20px;

  .form-group {
    @extend .flex-column;
  }

  .-control {
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 10px;
  }
  .-label {
    
  }

  .nickname {
    width: 600px;
  }

  .sign {
    width: 600px;
  }
}
