<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>动态 - 知鱼知乐</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-setting">
  <%- include ../layout/header -%>
    <main id="content" class="container">
      <nav class="content-nav">

        <!-- 昵称，签名 -->
        <a class="nav-link" href="javascript:;">
          我的信息
        </a>

        <!-- 昵称，签名 -->
        <a href="javascript:;">
          我的头像
        </a>

        <!-- 绑定邮箱，绑定手机，密码修改 -->
        <a href="javascript:;">
          账号安全
        </a>

        <!-- sns联合登陆 微信，qq，微博 -->
        <a href="javascript:;">
          账号绑定
        </a>
      </nav>

      <div class="content-setting">
        <form class="profile-form form" action="" method="post" id="profileForm">
            <div class="form-group">
                <label for="nickname" class="-label">昵称：</label>
                <input type="text" class="-control nickname" name="nickname">
            </div>
            <div class="form-group">
                <label for="sign" class="-label">一句话介绍：</label>
                <input type="text" class="-control sign" name="sign">
            </div>
            <button type="submit" class="bs-btn bs-btn-primary">保存</button>
        </form>
      </div>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>