@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

body {
    //background: url(../common/img/bg_laiwang.jpg) no-repeat center -360px;
}

#content {
    //margin-top: 180px;
}

.function {
    @extend .flex-justify-between;
    margin-left: -10px;
    margin-right: -10px;

    .function-item {
        height: 90px;
        width: 25%;
        text-align: center;
        color: #fff;
        padding: 0 10px;
    }
}

.contact-row {
    @extend .flex-justify-between;
    margin: 0 -10px;

    > section,
    > div {
        padding: 0 10px;
    }
}


.party {
    width: 322px;
    height: 240px;
    overflow: hidden;

    li {
        width: 100%;
        overflow: hidden;

        // img {
        //     width: 100%;
        // }
    }
}

.attention {
    @extend .flex-column;
    flex: 1 0 0;

    .attention-top {
      margin-top: 5px;

      .-title {
        font-size: 14px;
        text-align: center;
      }

      .-info {
        margin-top: 5px;
        font-size: 13px;
        color: #999;
      }
    }

    .attention-link {
        height: 24px;
        margin-top: 5px;
        line-height: 30px;
        overflow: hidden;
    }
}

.fish {
    width: 25%;
}

.swap {
    .swap-bd {
        @extend .flex-wrap;
        margin: 0 -10px;

        .-item {
            @extend .flex;
            width: 33.33%;
            margin-bottom: 10px;
            padding: 0 10px;

            .-avatar {
                width: 48px;
                height: 48px;
            }
            .-info {
                margin-left: 10px;
            }
            .-extra {
              i:before {
                color: #fe6fa6;
              }
            }
        }
    }
}

.locate-server {

    .locate-bd {
        @extend .flex;
        margin: 0 -10px;
    }
    .-item {
        width: 25%;
        margin-bottom: 10px;
    }

    .-title {
        height: 40px;
        line-height: 40px;
    }

    .-group {
        //padding: 10px;

        a {
            background-color: rgba(255,255,255,.2);
            display: inline-block;
            height: 19px;
            line-height: 19px;
            //padding: 0 4px;
            margin-bottom: 3px;
            margin-right: 10px;
            // color: #fff;
            font-size: 13px;
        }
    }

    .first {
       
        h5 {
            color : #0087cb;
        }
    }

    .second  {
        h5 {
            color: #e9a326;
        }
        
    }

    .third  {
        h5 {
            color: #fe6fa6;
        }
        
    }

    .fourth  {
        h5 {
            color: #940ce2;
        }    
    }
}

.fish-member {
    @extend .flex-wrap;
    margin-right: -15px;
}
.fish-member li{float:left;display:inline;margin:0 18px 5px 0;width:48px;line-height:18px; font-size: 12px;}
.fish-member li span{display:block;}
.fish-member li .u-name{width:48px;height:18px;overflow:hidden; font-size:12px; }
.fish-member .more{display:block;height:20px;*margin-top:12px;_margin-top:0;padding:5px 10px;_padding:10px 10px 0;line-height:20px;text-align:center;border-radius:5px;background-color:#fdf0cc;}
.fish-member .more:hover{text-decoration:none;background-color:#fee8a9;}
.fish-member .more i{display:inline-block;margin-right:5px;width:11px;height:12px;background:url(/images/duo/duo-sprite4.png) no-repeat -26px -21px;overflow:hidden;vertical-align:middle;}


.tuiguang {
    height: 60px;
    margin-top: 20px;

    overflow: hidden;

    img {
        width:100%;
        height: 60px;
    }
}

.bottle {
    background: url(./img/bottle.jpeg) no-repeat;
    background-size: cover;
}

.inlove {
    background: url(./img/bottle.jpeg) no-repeat;
    background-size: cover;
}

.yard {
    background: url(./img/bottle.jpeg) no-repeat;
    background-size: cover;
}


.bottle,
.inlove,
.yard {
    display: block;
    width: 100%;
    height: 90px;
}

.bbs {

  .-bd {
    @extend .flex;

    .-topic {
      height: 396px;
      width: 312px;
      background-color: #f7f5f0;
      margin-right: 20px;
    }

    .-list {
      flex: 1 1 auto;

      .-item {
        margin-top: 5px;
      }

      .-avatar {
        display: inline-block;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }

      .-tagline {
        font-size: 12px;
      }
    }
  }
}





