
  <% for post in posts %>

  <article class="index-summary">
    <div class="-title">
      <a href="/post/${post.id}">${post.title}</a>
    </div>
    <div class="-info">
      <% for tag in post.tags %>
      <a data-tid="${tag.tid}" href="/tags/${tag.tid}">${tag.name}</a>
      <% endfor %>

      <span>发布于 5 小时前</span>
    </div>
    <div class="-action">
      <div class="-thumbs">
        <button class="btn btn-sm btn-light" title="支持">
          <i class="ion ion-md-arrow-dropup"></i>
          100
        </button>
        <button class="btn btn-sm btn-light" title="反对">
          <i class="ion ion-md-arrow-dropdown"></i>
        </button>
      </div>
      <a title="回复，响应和打赏">
        <i class="ion ion-md-text"></i>
        99 动态
      </a>
      <a>
        <i>•</i>
        1394 浏览
      </a>
      <a class="-more">
        <i class="ion ion-ios-more"></i>
        <!-- 举报 -->
      </a>
    </div>
  </article>

  <% endfor %>