<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>暑期越南游，寻结伴出游伙伴，互相照应。</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-task">
  <%- include ../layout/header -%>
    <main class="container flex-justify-between" id="content">
      <div class="content-column" id="contentColumn">
        <section class="task-header">
          <h1 class="task-header-title">暑期越南游，寻结伴出游伙伴，互相照应。</h1>
          <div class="task-header-meta">
            <a data-tid="" href="javascript:;">西湖</a>
            <a data-tid="" href="javascript:;">寻人</a>
          </div>
        </section>
        <section class="task-body">
          <div class="task-body-info">
            7月中旬左右，去越南岘港，游览山茶半岛，巴拿山，美溪沙滩等，品尝海鲜美食，自由行，游览时间大概一周左右。 最好英语口语好一点。
          </div>
          <dl class="task-body-item">
            <dt>报酬：</dt>
            <dd>
              <p> > 20金币</p>
              <p> ￥ 100元</p>
              <p> > 帮带行李，教游泳</p>
            </dd>
          </dl>
          <dl class="task-body-item">
            <dt>有效期：</dt>
            <dd>15天12小时内完成有效</dd>
          </dl>
          <div class="task-body-action">
            <a class="btn btn-sm btn-outline-success" @click.prevent="btnWriteAnswer(1)" href="#" title="发表你对问题的建议，看法">
              <i class="ion ion-md-create"></i>写回答
            </a>
            <a class="btn btn-sm btn-outline-info" @click.prevent="btnWriteAnswer(2)" href="#" title="响应问题后，问题发布者将会收到提醒，您对本问题的回答将被标记。">
              <i class="ion ion-ios-heart"></i>响应回答
            </a>
          </div>
          <div class="task-body-author">
            <a class="mod-avatar" href="#">
              <img src="https://avatars1.githubusercontent.com/u/6301319?v=3&amp;s=460" alt="" width="32" height="32">
            </a>
            <div class="mod-info">
              <p class="mod-info-user">
                <span class="vm-nickname">
                  半夏
                </span>
                <span class="vm-member" title="永久黄金会员">
                  <i class="ion ion-md-trophy"></i>
                </span>
              </p>
              <p class="mod-info-credit">
                <span class="vm-praise" title="获得 42515 次赞同">
                  4.2k
                </span>
                <span class="vm-badge" title="解决问题被采纳 10 次">
                  <i>•</i>
                  <em>7</em>
                </span>
                <span class="vm-badge" title="有效发布问题 32 次">
                  <i>•</i>
                  <em>7</em>
                </span>
              </p>
            </div>
          </div>
        </section>

        <task-action>
        </task-action>

        <task-process>
        </task-process>

        <task-answer @into-editor="onComptEvent">
        </task-answer>

        <!-- <div class="answer-more">
          <a id="J_loadMore" href="#">加载更多<i></i></a>
        </div> -->

        <answer-form>
        </answer-form>
      </div>
      <aside class="content-sidebar">
        <follow>
        </follow>
        <task-related>
        </task-related>
        <section class="stats">
          <div class="mod-tit">问题状态</div>
          <div class="mod-state">
            <p>
              <a href="#" target="_blank">查看问题日志</a>
              <span>|</span>最近编辑于2017-07-19</p>
            <p>被浏览
              <strong class="attention-num"> 946 </strong>次</p>
          </div>
        </section>
      </aside>
    </main>
    <script type="text/javascript">
      window.__PAGE_STATE = {};
      window.__PAGE_STATE['processList'] = [3, 1, 1];
      window.__PAGE_STATE['post'] = {"_id":"5aeab8bd916d33bdb8bd6415","title":"装修找经验丰富的独立设计师","body":"<p>89方，装修队伍基本确定，个人偏好简美，或简港风格~&lt;/p>","member_level":null,"ant_credit":"","creator":{"_id":"59f987f8a25b83ca4c228023","name":"半夏","signature":"哈哈哈"},"created":"2018-05-03T07:22:37.335Z","__v":0,"last_modified":"2018-05-03T07:24:12.102Z","members":[""],"groups":[""],"member_tags":[""],"quantity":null,"valid_time":-1,"anonymous":false,"city":"310000","custom":"","bounty":8000,"coins":null,"views":0,"total_votes":8,"downvotes":0,"upvotes":8,"subscribers":null,"tags":[{"id":"5aeab8bd916d33bdb8bd6413","name":"装修","_id":"5aeab8bd916d33bdb8bd6417"},{"id":"5aeab8bd916d33bdb8bd6414","name":"设计师","_id":"5aeab8bd916d33bdb8bd6416"}],"content_abstract":{"text":"89方，装修队伍基本确定，个人偏好简美，或简港风格~"},"id":"5aeab8bd916d33bdb8bd6415"};
      window.__PAGE_STATE['ownAnswer'] = {"_id":"5aeaba54916d33bdb8bd6418","creator":{"_id":"59f987f8a25b83ca4c228023","name":"半夏","signature":"哈哈哈"},"created":"2018-05-03T07:29:24.412Z","post_id":"5aeab8bd916d33bdb8bd6415","body":"<p>&lt;script&gt;alert('xxs 攻击你')&lt;/script&gt;</p>","__v":0,"downvotes":0,"upvotes":0};
      window.__PAGE_STATE['answers'] = []
      window.__PAGE_STATE['subscribers'] = []
    </script>
</body>

</html>