<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>暑期越南游，寻结伴出游伙伴，互相照应。</title>
    <meta name="Keywords" content="关键词" />
    <meta name="Description" content="描述" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>

<body class="page-task">
    <%- include ../layout/header -%>
    <main id="content" class="container flex-justify-between">
        <div class="content-column">
            <section class="task-header">
                <h1 class="task-header-title">暑期越南游，寻结伴出游伙伴，互相照应。</h1>
                <div class="task-header-meta">
                    <span>西湖</span><span>寻人</span>
                </div>
            </section>
            <section class="task-body">
                <div class="task-body-info">
                    7月中旬左右，去越南岘港，游览山茶半岛，巴拿山，美溪沙滩等，品尝海鲜美食，自由行，游览时间大概一周左右。
                    最好英语口语好一点。
                </div>
                <dl class="task-body-item">
                    <dt>报酬：</dt>
                    <dd>
                        <p> > 20金币</p>
                        <p> > 100元</p>
                        <p> > 帮带行李，教游泳</p>
                    </dd>
                </dl>
                <dl class="task-body-item">
                    <dt>有效期：</dt>
                    <dd>15天12小时内完成有效</dd>
                </dl>
                <div class="task-body-action flex">
                    <a class="vm-follow" href="#" title=""><i class="iconfont icon-follow"></i>关注问题</a>
                    <a class="vm-answer" href="#"  title=""><i class="iconfont icon-edit"></i>写回答</a>
                </div>
                <div class="task-body-author flex-justify-end">
                    <a class="mod-avatar" href="#">
                        <img src="https://avatars1.githubusercontent.com/u/6301319?v=3&amp;s=460" alt="" width="32" height="32">
                    </a>
                    <a href="">半夏</a>
                    有效复核2次，无失信记录.
                </div>
                <div class="task-body-footer">
                    <button>
                        <i class="iconfont icon-arrow-up"></i>
                        100
                    </button>
                    <button>
                        <i class="iconfont icon-arrow-down"></i>
                    </button>
                    <button>
                        <i class="iconfont icon-wujiaoxing"></i>
                        收藏
                    </button>
                    <button title="分享问题，邀请朋友参与完成，您将获得丰厚奖励，问题解决者将获得平台额外报酬。</p>">
                        <i class="iconfont icon-share"></i>
                        分享
                    </button>
                    <button>
                        <i class="iconfont icon-report"></i>
                        举报
                    </button>
                </div>
            </section>
            <section class="task-process">
                <div>流<span class="font-space"></span>程：响应问题 ——> 确认完成 ——> 获得报酬</div>

                <div class="task-process-respond flex">
                    <div>已响应：</div>
                    <div class="mod-bd">
                        1 2 3 4 5 6
                        <a href="#" class=""></a>
                    </div>
                </div>

                <div class="task-process-finished flex">
                    <div> 已交付：</div>
                    <div class="mod-bd">
                        1 2 3 
                    </div>
                </div>

                <div class="task-process-status">
                    状<span class="font-space"></span>态： 该问题已经有交付申请，等待发布者复核，继续提交仍然可能被采纳，获得奖励。
                </div>

                <div class="task-process-action mt10">
                    <p>响应问题后，问题发布者将会收到提醒，您对本问题的回答将被标记。</p>
                    <button class="btn btn-primary">响应问题</button>
                    <button class="btn btn-secondary">邀请响应</button>
                </div>
            </section>
            <section class="comments">
                <div class="comments-header flex-justify-between">
                    <nav class="comments-header-title flex">
                        <a href="#">回答<span>130</span></a>
                        <a href="#">响应<span>5</span></a>
                    </nav>
                    <p class="comments-header-order">
                        <a href="">热度</a>
                        <a href="">时间</a>
                    </p>
                </div>
                <ul class="comments-list">
                    <li class="comments-list-item">
                        <div class="mod-info">
                            <a class="vm-avatar" href="#">
                                <img class="avatar" src="" alt="">
                            </a>
                            <span class="vm-nickname">
                                尤慕
                            </span>
                            <p class="mod-info-action">
                                <a class="vm-praise" href="">赞</a>
                                <a class="vm-praise" href="">评论</a>
                            </p>
                        </div>
                        楼主，还记得那年大明湖畔的夏雨荷吗？
                    </li>
                    <li class="comments-list-item">
                        <div class="mod-info">
                            <a class="vm-avatar" href="#">
                                <img class="avatar" src="" alt="">
                            </a>
                            <span class="vm-nickname">
                                尤慕
                            </span>
                            <p class="mod-info-action">
                                <a class="vm-praise" href="">赞</a>
                                <a class="vm-praise" href="">评论</a>
                            </p>
                        </div>
                        软萌妹子求带。
                    </li>
                    <li class="comments-list-item">
                        <div class="mod-info">
                            <a class="vm-avatar" href="#">
                                <img class="avatar" src="" alt="">
                            </a>
                            <span class="vm-nickname">
                                尤慕
                            </span>
                            <p class="mod-info-action">
                                <a class="vm-praise" href="">赞</a>
                                <a class="vm-praise" href="">评论</a>
                            </p>
                        </div>
                        越南有什么好玩的，楼主要买个越南老婆回来啊
                    </li>
                    <li class="comments-list-item">
                        <div class="mod-info">
                            <a class="vm-avatar" href="#">
                                <img class="avatar" src="" alt="">
                            </a>
                            <span class="vm-nickname">
                                尤慕
                            </span>
                            <p class="mod-info-action">
                                <a class="vm-praise" href="">赞</a>
                                <a class="vm-praise" href="">评论</a>
                            </p>
                        </div>
                        楼主帮我问下越南地价，过几年退休去哪里买块好地，以后养老。
                    </li>
                    <li class="comments-list-item">
                        <div class="mod-info">
                            <a class="vm-avatar" href="#">
                                <img class="avatar" src="" alt="">
                            </a>
                            <span class="vm-nickname">
                                尤慕
                            </span>
                            <p class="mod-info-action">
                                <a class="vm-praise" href="">赞</a>
                                <a class="vm-praise" href="">评论</a>
                            </p>
                        </div>
                        上半年去过了，自然景观不错，吃的东西一般，要不我们组队去菲律宾吧。
                    </li>
                </ul>
            </section>
        </div>
        <aside class="content-sidebar">
            <section class="question-stats">
                <p>
                    发布：8 天前
                </p>
                <p>
                    浏览：  999
                </p>
                <p>
                    动态：6
                </p>
            </section>
            <section class="recommend">
                <h2>相关推荐</h2>
                <ul class="recommend-bd">
                    <li><i></i><a href="#">红尘有你，年华锦瑟</a></li>
                    <li><i></i><a href="#">流年似水，我已踏过三十的尾巴。又过了五六季的春暖花开。我仍然在等待我的爱情。</a></li>
                    <li><i></i><a href="#">你在哪里，我可否寻到你？高烧一直不退，一梦一世间，一梦一轮回。</a></li>
                    <li><i></i><a href="#">流年的醉，缘分的随，你我的冥冥之中会相遇。</a></li>
                </ul>
            </section>
            <section class="hotopic">
                <h2>热点任务</h2>
                <ul>
                    <li>
                        <div class="favicon favicon-electronics" title="Electrical Engineering Stack Exchange"></div><a href="http://electronics.stackexchange.com/questions/219527/is-transistor-the-only-electronic-component-on-a-cpu" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:135 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Is transistor the only electronic component on a CPU?
                            </a>
                    </li>
                    <li>
                        <div class="favicon favicon-worldbuilding" title="Worldbuilding Stack Exchange"></div><a href="http://worldbuilding.stackexchange.com/questions/36731/would-gorillas-with-human-level-intelligence-make-effective-soldiers" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:579 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Would gorillas with human-level intelligence make effective soldiers?
                            </a>
                    </li>
                    <li>
                        <div class="favicon favicon-ell" title="English Language Learners Stack Exchange"></div><a href="http://ell.stackexchange.com/questions/82698/we-have-different-rhythms-vs-we-have-different-paces" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:481 }); posts_hot_network.click({ item_type:2, location:11 })">
                                "we have different rhythms" vs "we have different paces"?
                            </a>
                    </li>
                </ul>
                <a href="#" class="show-more js-show-more js-gps-track" data-gps-track="posts_hot_network.click({ item_type:3, location:11 })">
                        more hot questions
                    </a>
            </section>
        </aside>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>
