@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

@import "../common/scss/components/buttons.scss";
@import "../common/scss/components/editor-content.scss";

@import "./scss/task-about.scss";
@import "./scss/task-answer.scss";
@import "./scss/answer-form.scss";
@import "./scss/aside.scss";

.answer-more {
  
  height: 35px;
  margin-top: 36px;

  a {
    display: block;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #666;
    background-color: #efefef;
    border-radius: 4px;

    &:hover {
      background-color: #fff5e5;
      color: #ff9d00;
    }
  }
}

