<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>暑期越南游，寻结伴出游伙伴，互相照应。</title>
    <meta name="Keywords" content="关键词" />
    <meta name="Description" content="描述" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-task">
  <%- include ../layout/header -%>
  <main class="container flex-justify-between" id="content">
    <div class="content-column" id="contentColumn">
      <section class="task-header">
          <h1 class="task-header-title">暑期越南游，寻结伴出游伙伴，互相照应。</h1>
          <div class="task-header-meta">
              <a data-tid="" href="javascript:;">西湖</a>
              <a data-tid="" href="javascript:;">寻人</a>
          </div>
      </section>
      <section class="task-body">
          <div class="task-body-info">
              7月中旬左右，去越南岘港，游览山茶半岛，巴拿山，美溪沙滩等，品尝海鲜美食，自由行，游览时间大概一周左右。 最好英语口语好一点。
          </div>
          <dl class="task-body-item">
              <dt>报酬：</dt>
              <dd>
                  <p> > 20金币</p>
                  <p> > 100元</p>
                  <p> > 帮带行李，教游泳</p>
              </dd>
          </dl>
          <dl class="task-body-item">
              <dt>有效期：</dt>
              <dd>15天12小时内完成有效</dd>
          </dl>
          <div class="task-body-action">
              <a class="btn btn-sm btn-outline-success" @click.prevent="btnWriteAnswer(1)" href="#" title="发表你对问题的建议，看法">
                  <i class="ion ion-md-create"></i>写回答
              </a>
              <a class="btn btn-sm btn-outline-info" @click.prevent="btnWriteAnswer(2)" href="#" title="响应问题后，问题发布者将会收到提醒，您对本问题的回答将被标记。">
                  <i class="ion ion-ios-heart"></i>响应问题
              </a>
          </div>
          <div class="task-body-author">
              <a class="mod-avatar" href="#">
                  <img src="https://avatars1.githubusercontent.com/u/6301319?v=3&amp;s=460" alt="" width="32" height="32">
              </a>
              <div class="mod-info">
                <p class="mod-info-user">
                  <span class="vm-nickname">
                    半夏
                  </span>
                  <span class="vm-member" title="永久黄金会员">
                    <i class="ion ion-md-trophy"></i>
                  </span>
                </p>
                <p class="mod-info-credit">
                  <span class="vm-praise" title="获得 42515 次赞同">
                    4.2k
                  </span>
                  <span class="vm-badge" title="解决问题被采纳 10 次">
                    <i>•</i>
                    <em>7</em>
                  </span>
                  <span class="vm-badge" title="有效发布问题 32 次">
                      <i>•</i>
                      <em>7</em>
                  </span>
                </p>
              </div>
          </div>
          <task-footer qid="123456789" :vote="99">

          </task-footer>
      </section>
      <section class="task-process">
          <p class="task-process-step">
              流程：响应问题（<span class="text-success">3人</span>） —> 确认完成（<span class="text-success">1人</span>） —> 获得报酬（<span class="text-success">1人</span>）
          </p>
          <p class="task-process-state">
              该问题已经有交付申请，等待发布者复核，继续提交可能无法被被采纳。
          </p>
      </section>

      <task-answer qid="5a03177322aa7975e3a577cd" :page-num="pageNum" :page-size="pageSize">
        <article class="answer-article">
          <div class="answer-article-hd">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">萦萦宝贝儿</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="answer-article-body">
            楼主，还记得那年大明湖畔的夏雨荷吗？
          </div>
          <div class="answer-article-addition">
            <span class="vm-date">2017-07-18</span>
          </div>
          <div class="answer-article-ft">
            <div class="mod-action">
              <div class="vm-thumbs">
                <button class="btn btn-sm btn-light">
                      <i class="ion ion-md-thumbs-up"></i>
                      16
                  </button>
                <button class="btn btn-sm btn-light">
                      <i class="ion ion-md-thumbs-down"></i>
                  </button>
              </div>
              <a>
                  <i class="ion ion-md-text"></i>
                  回复
              </a>
              <a>
                <i class="ion ion-md-star"></i>
                收藏
            </a>
              <a>
                  <i class="ion ion-md-heart"></i>
                  打赏
              </a>
              <a>
                  <i class="ion ion-ios-more"></i>
                </a>
            </div>
            <div class="mod-pack">
              <a href="#">
                收起
              </a>
            </div>
          </div>
        </article>
        <article class="answer-article">
          <div class="answer-article-hd">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="answer-article-body">
            软萌妹子求带。
          </div>
          <div class="answer-article-addition">
            <span class="vm-date">2017-07-18</span>
          </div>
          <div class="answer-article-ft">
            <div class="mod-action">
              <div class="vm-thumbs">
                <button class="btn btn-sm btn-light">
                        <i class="ion ion-md-thumbs-up"></i>
                        16
                    </button>
                <button class="btn btn-sm btn-light">
                        <i class="ion ion-md-thumbs-down"></i>
                    </button>
              </div>
              <a>
                    <i class="ion ion-md-text"></i>
                    回复
                </a>
                <a>
                  <i class="ion ion-md-star"></i>
                  收藏
              </a>
              <a>
                    <i class="ion ion-md-heart"></i>
                    打赏
                </a>
              <a>
                    <i class="ion ion-ios-more"></i>
                  </a>
            </div>
            <div class="mod-pack">
              <a href="#">
                  收起
                </a>
            </div>
          </div>
        </article>
        <article class="answer-article">
          <div class="answer-article-hd">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="answer-article-body">
              越南有什么好玩的，楼主要买个越南老婆回来啊
          </div>
          <div class="answer-article-addition">
            <span class="vm-date">2017-07-18</span>
          </div>
          <div class="answer-article-ft">
            <div class="mod-action">
              <div class="vm-thumbs">
                <button class="btn btn-sm btn-light">
                          <i class="ion ion-md-thumbs-up"></i>
                          16
                      </button>
                <button class="btn btn-sm btn-light">
                          <i class="ion ion-md-thumbs-down"></i>
                      </button>
              </div>
              <a>
                      <i class="ion ion-md-text"></i>
                      回复
                  </a>
              <a>
                      <i class="ion ion-md-star"></i>
                      收藏
                  </a>
              <a>
                      <i class="ion ion-ios-more"></i>
                    </a>
            </div>
            <div class="mod-pack">
              <a href="#">
                    收起
                  </a>
            </div>
          </div>
        </article>
        <article class="answer-article">
          <div class="answer-article-hd">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="answer-article-body">
              楼主帮我问下越南地价，过几年退休去哪里买块好地，以后养老。
          </div>
          <div class="answer-article-addition">
            <span class="vm-date">2017-07-18</span>
          </div>
          <div class="answer-article-ft">
            <div class="mod-action">
              <div class="vm-thumbs">
                <button class="btn btn-sm btn-light">
                            <i class="ion ion-md-thumbs-up"></i>
                            16
                        </button>
                <button class="btn btn-sm btn-light">
                            <i class="ion ion-md-thumbs-down"></i>
                        </button>
              </div>
              <a>
                        <i class="ion ion-md-text"></i>
                        回复
                    </a>
                <a>
                    <i class="ion ion-md-star"></i>
                    收藏
                </a>
              <a>
                        <i class="ion ion-md-heart"></i>
                        打赏
                    </a>
              <a>
                        <i class="ion ion-ios-more"></i>
                      </a>
            </div>
            <div class="mod-pack">
              <a href="#">
                      收起
                    </a>
            </div>
          </div>
        </article>
        <article class="answer-article">
          <div class="answer-article-hd">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="answer-article-body">
            上半年去过了，自然景观不错，吃的东西一般，要不我们组队去菲律宾吧。
          </div>
          <div class="answer-article-addition">
            <span class="vm-date">2017-07-18</span>
          </div>
          <div class="answer-article-ft">
            <div class="mod-action">
              <div class="vm-thumbs">
                <button class="btn btn-sm btn-light">
                              <i class="ion ion-md-thumbs-up"></i>
                              16
                          </button>
                <button class="btn btn-sm btn-light">
                              <i class="ion ion-md-thumbs-down"></i>
                          </button>
              </div>
              <a>
                          <i class="ion ion-md-text"></i>
                          回复
                      </a>
                      <a>
                        <i class="ion ion-md-star"></i>
                        收藏
                    </a>
              <a>
                          <i class="ion ion-md-heart"></i>
                          打赏
                      </a>
              <a>
                          <i class="ion ion-ios-more"></i>
                        </a>
            </div>
            <div class="mod-pack">
              <a href="#">
                        收起
                      </a>
            </div>
          </div>
        </article>
      </task-answer>
      
      <section class="answer" id="answer">
        <div class="answer-title">
          我来回答：
        </div>
        <answer-editor placeholder="关于问题的详细描述">
        </answer-editor>
        
        <div class="answer-addons">
          <div class="answer-addons-tips">
            <p v-if="joinChecked">
                响应代表参与解决问题，你的回答将被标记，同时发布者会收到通知，解决问题后可以确认完成，由问题发布者发放报酬。
            </p>
            <p v-if="anonymousChecked">
               此回答不会显示你的用户信息，也不会出现在个人动态中。
            </p>
          </div>
          <div class="answer-addons-action">
            <div class="mod-option">
              <label class="vm-unname mr10">
                <input type="checkbox" name="join" v-model="joinChecked" >
                <span>响应</span>
              </label>
              <label class="vm-unname">
                <input type="checkbox" name="anonymous" v-model="anonymousChecked">
                <span>匿名</span>
              </label>
            </div>

            <div class="mod-submit">
              <a class="bs-btn bs-btn-primary bs-btn-small" data-qid="5a03177322aa7975e3a577cd" @click="answerSubmit" href="javascript:;">
                提交回答
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <aside class="content-sidebar">
      <section class="concerns">
        <!-- 关注组件需要传入问题qid -->
        <gws-concerns qid="5a03177322aa7975e3a577cd"></gws-concerns>
      </section>

      <section class="related">
        <div class="mod-tit">相关推荐</div>
        <ul class="related-list">
          <li><a href="/question/34526162633933393939610400">红尘有你，年华锦瑟</a><span class="new-small-font">4个回答</span></li>
          <li><a href="/question/cadb6162633466316139390400">流年似水，我已踏过三十的尾巴。又过了五六季的春暖花开。我仍然在等待我的爱情。</a><span class="new-small-font">3个回答</span></li>
          <li><a href="/question/c6be6162636465393861300400">你在哪里，我可否寻到你？高烧一直不退，一梦一世间，一梦一轮回。</a><span class="new-small-font">6个回答</span></li>
          <li><a href="/question/537b6162633732636230610600">流年的醉，缘分的随，你我的冥冥之中会相遇。</a><span class="new-small-font">4个回答</span></li>
          <li><a href="/question/e3dd6162636134636438650400">《权力的游戏》Hordor常说的Hordor有何深意？</a><span class="new-small-font">3个回答</span></li>
        </ul>
      </section>
      <section class="stats">
        <div class="mod-tit">问题状态</div>
        <div class="mod-state">
          <p><a href="#" target="_blank">查看问题日志</a><span>|</span>最近编辑于2017-07-19</p>
          <p>被浏览<strong class="attention-num"> 946 </strong>次</p>
        </div>
      </section>
    </aside>
  </main>
  <script>
    window.__INITIAL_STATE__ = {
      postId: '5a03177322aa7975e3a577cd'
    }
  </script>
</body>

</html>