
.btn {
    display: inline-block;
    position: relative;
    padding: .61538462em 1em;
    vertical-align: middle;
    min-height: 2.46153846em;
    box-sizing: border-box;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    transition: all .1s;
}

.btn-small {
    
}

.btn-primary {
    color: #FFF;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
}

.btn-secondary {
    color: #07c;
    background-color: #fff;
    border-color: #07c;
}