@import "../mixins/variables.scss";


.form {
    .form-group {
        margin-bottom: 20px;
    }

    .vm-label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .vm-control {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .vm-remark {
        font-size: 12px;
        color: $text-color-mark;
    }
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    label {
        min-height: 20px;
        padding-left: 5px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    input {
        margin-right: 10px;
    }
}


.form-inline {
    .vm-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .checkbox,
    .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.quantity-control {
    position: relative;
    z-index: 1;
    height: 38px;
    width: 138px;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-sm;
    overflow: hidden;

    a {
        position: absolute;
        top:0;
        width: 39px;
        height: 40px;
        line-height: 36px;
        font-size: 26px;
        text-decoration: none;
        text-align: center;
    }

    input {
        position: absolute;
        top:0;
        left: 40px;
        width: 58px;
        height: 40px;
        padding: 0;
        line-height: 40px;
        font-size: 18px;
        border: none;
        text-align: center;
        color: $text-color-dark;
    }

    .vm-minus {
        left: 0;
        border-right: 1px solid $border-color-base;
    }

    .vm-plus {
        right: 0;
        border-left: 1px solid $border-color-base;
    }
}



