<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>用户 - 知鱼知乐</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-centre">
  <%- include ../layout/header -%>
    <main id="content" class="container">
      <section class="user-search">
          <form class="user-search-form" action="">
            <input class="-control" type="text" placeholder="请输入关键词...">
            <button class="btn">搜索用户</button>
          </form>
      </section>

      <section class="bs-row mt20">
        <div class="kind">
          赠人玫瑰手有余香，关爱新人
        </div>

        <div class="fans">
          辛勤劳动的小蜜蜂，被赞最多

        </div>

        <div class="rich">
          钱多多，一言不合就打赏
        </div>
      </section>

      <section class="bs-row mt20">
        <div class="user-active">
          <div class="user-active-hd">
            <h2 class="-title" title="身边的热心达人">活跃用户</h2>
            <div class="-rank">
              <a href="#">今天</a>/
              <a href="#">本周</a>/
              <a href="#">本月</a>
            </div>
            <a class="-sync" href="#"><i class="ion ion-md-sync"></i>刷新</a>
          </div>
          <div class="user-active-bd">
            列表 ~
          </div>
        </div>
        <div class="user-topic">
          <h2 class="user-topic-hd">
            专访
          </h2>
          <div class="user-topic-bd">
            <div class="topic-slide">
              <ul class="" style="display: block; padding: 0px; position: relative;">
                <li style="position: absolute; left: 10px; top: -13px; width: 84px; height: 112px; opacity: 1; z-index: 280; font-size: 16px;">
                  <a href="#" target="_blank">
                  <img class="lazy" src="#" data-original="#" alt="" style="display: inline;">
                  </a>
                </li>
                <li style="position: absolute; left: 45px; top: -1px; width: 65.1px; height: 86.8px; opacity: 0.85; z-index: 145; font-size: 12.4px;">
                  <a href="#" target="_blank">
                    <img class="avatar" width="160" height="160" src="https://pic1.zhimg.com/6bd96ce0f3825731d2228af85e87f800_xl.jpg"" srcset="">
                  </a>
                </li>
                <li style="position: absolute; left: -20px; top: -1px; width: 65.1px; height: 86.8px; opacity: 0.85; z-index: 145; font-size: 12.4px;">
                  <a href="#" target="_blank">
                    <img class="lazy" src="#" data-original="#" alt="" style="display: inline;">
                  </a>
                </li>
              </ul>
            </div>
            <div class="info-text">
              <dl>
                  <dd data-rid="1" style="display: block;">
                    <p class="author">
                      <a href="//me.qidian.com/authorIndex.aspx?id=400484985" target="_blank">ZENHO</a>
                      <span class="vm-member ml10" title="永久黄金会员">
                        <i class="ion ion-md-trophy"></i>
                      </span>
                    </p>
                    <p>做个风情万种的人，到老都不对你死心。</p>
                    <p class="total">
                      <span><em>7,493</em>关注</span>
                      <span><em>17k</em>赞</span>
                    </p>
                    <p class="intro">
                      北京师范大学 · MKT，从事互联网运营工作，喜欢旅游，种花。
                    </p>
                    <a class="read-btn" href="//book.qidian.com/info/1010138698">更多介绍</a></dd>
                  <dd data-rid="2" style="display: none;">
                  </dd>
                  <dd data-rid="3" style="display: none;">
                  </dd>
              </dl>
            </div>
          </div>
        </div>
      </section>

      <section class="bs-row mt20">
        <div class="team-active">
          <div class="team-active-hd">
            <h2 class="-title" title="众人拾柴火焰高，加入团队，结识更多小伙伴">活跃团队</h2>
            <div class="-rank">
              <a href="">今天</a>/
              <a href="">本周</a>/
              <a href="">本月</a>
            </div>
            <a class="-sync" href="#"><i class="ion ion-md-sync"></i>刷新</a>
          </div>
          <div class="team-active-bd">
            列表 ~
          </div>
        </div>
        <div class="team-party">
          <h2 class="team-party-hd">
            团队活动
          </h2>
          <div class="team-party-bd">
            <ul>
              <li>
                <a href="#">登泰山 观日出 徒步桃花峪</a>
                <p>
                  <a href="" class="-vater"></a>
                  <span class="nickname">尤慕</span>
                  <time>2017-10-25</time>
                </p>
              </li>
              <li>
                <a href="#">登泰山 观日出 徒步桃花峪</a>
                <p>
                  <a href="" class="-vater"></a>
                  <span class="nickname">尤慕</span>
                  <time>2017-10-25</time>
                </p>
              </li>
              <li>
                <a href="#">春暖花开，横店2日游</a>
                <p>
                  <a href="" class="-vater"></a>
                  <span class="nickname">尤慕</span>
                  <time>2017-10-25</time>
                </p>
              </li>
              <li>
                <a href="#">春暖花开，横店2日游</a>
                <p>
                  <a href="" class="-vater"></a>
                  <span class="nickname">尤慕</span>
                  <time>2017-10-25</time>
                </p>
              </li>
              <li>
                <a href="#">春暖花开，横店2日游</a>
                <p>
                  <a href="" class="-vater"></a>
                  <span class="nickname">尤慕</span>
                  <time>2017-10-25</time>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>