@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";

@import "../common/scss/components/buttons.scss";

.search {
	@extend .flex-justify-center;

	.search-form {
		margin: 50px 0;

		.-label {
			width: 90px;
			text-align: right;
		}

		.-control {
			width: 270px;
			height: 36px;
		    padding: 0 10px 0 20px;
		    font-size: 14px;
		    line-height: 36px;
	        color: #666;
	    	border-radius: 4px;
	    	background-color: #fff;
	    	border: 1px solid #ccc;
		}

		.-btn {
			display: inline-block;
		    margin-left: 7px;
		    height: 36px;
		    line-height: 36px;
		    font-size: 16px;
		    border: 0;
		    color: #fff;
		    background-color: #1e9780;
		    border-color: #1e9780;
		    padding: 0 10px;
		    border-radius: 4px;
		    text-decoration: none;
		    min-height: auto;
		}
	}
}

.user-hd,
.team-hd {
	position: relative;
	@extend .flex;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
}

.user {
	height: 510px;
	flex: 1;

	.user-hd {
		@extend .flex-justify-between;

		h2 {
			position: relative;
			@extend .flex;
			height: 30px;
			font-size: 16px;
			line-height: 30px;
		}

		.user-hd-nav {
			position: relative;
			@extend .flex-justify-end;
			font-size: 13px;

			a {
				padding: 0 5px;
			}
		}
	}

	.user-active {
		margin-top: 10px;

		ul {
			@extend .flex-wrap;
			margin: 0 -10px;
		}


		li {
			@extend .flex-column;
			margin-bottom: 15px;
			line-height: 1.2;
			width: 33.33%;
			padding: 0 10px;

			.-person {
				@extend .flex;
				font-size: 13px;

				.-gravatar {
					margin-right: 5px;
				}

				.-info {
					line-height: 16px;
				}
			}

			.-intro {
				margin-top: 5px;
				font-size:13px;
			}
		}
	}

	.user-rank {

	}
}

.team {
	flex: 1;
}

.team-active {
	ul {
		@extend .flex-wrap;
		margin: 10px -10px;

		li {
			@extend .flex;
			margin-bottom: 20px;
			width: 50%;
			padding: 0 10px;
			overflow: hidden;

			.-pic {
				margin-right: 10px;

				img {
				    border-radius: 5px; 
				}
			}

			.-name {
				color: #0f820c;
			}

			.-meta {
				font-size: 13px;
				color: #999;
				margin: 5px 0;
			}

			.-intro {
				font-size: 13px;
			}
		}
	}
}

.team-recommend {
	ul {
		@extend .flex-wrap;
		margin: 10px -20px 20px;

		li {
			@extend .flex-column;
			width: 14.28%;
			padding: 0 20px;
			overflow: hidden;
			margin-bottom: 20px;

			img {
			    border-radius: 5px; 
			}

			.-name {
				margin-top: 5px;
				text-align: center;
				font-size: 13px;
			}
		}
	}
}

.user-topic {
	height:510px;

	.user-topic-hd {
	    height: 35px;
	    padding: 5px 10px;
	    background-color: #f8f9fa;
	    border-radius: 5px 5px 0 0;
	    line-height: 25px;
	    font-size: 14px;
	    color: #4c9e82;
	    font-weight: normal;
	}

	.user-topic-slide {
		height: 160px;
		margin-top: 20px;
	}

	.user-topic-text {
		padding: 0 5px;

		.-total {
			margin-top: 5px;

			span {
				margin-right: 20px;

				em {
					margin-right: 5px;
				}
			}
		}

		.-sign {
			margin-top: 10px;
			color: #999;
		}

		.-intro {
			margin: 10px 0;
		}
	}
}

.team-party {
	.team-party-hd {
	    height: 35px;
	    padding: 5px 10px;
	    background-color: #f8f9fa;
	    border-radius: 5px 5px 0 0;
	    line-height: 25px;
	    font-size: 14px;
	    color: #4c9e82;
	    font-weight: normal;
	}

	.team-party-bd {
		margin-top: 5px;
		li {
			padding: 5px 0;
		    border-bottom: 1px dotted #eaeaea;
		    line-height: 21px;
		}
	}
}



