
.message-list {
  margin-top: 10px;

  .message-article {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 60px;
    border-bottom: 1px dashed #E5E5E5;


    .mod-avatar {
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-position: 50% 50%;
      background-size: cover;

      &.anoy {
        background-image: url(https://iknowpc.bdimg.com/static/pi-common/widget/feed-list/img/i-anoy-head_854e130.png);
      }
    }

    .mod-user {
      font-size: 13px;
      font-weight: bold;
    }

    .mod-answer {
      font-size: 13px;
    }
  }

  .message-article-hd {
    @extend .flex-item-center;
    padding-bottom: 5px;
    line-height: 25px;
  
    .mod-user {
      position: relative;
      float: left;
      padding-left: 32px;
      min-height: 25px;
      font-size: 14px;
      color: #000;
      margin-right:10px;
  
      .vm-avatar {
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 50%;
        background-position: 50% 50%;
        background-size: cover;
        left: 0;
        top: 0;
  
        &.anoy {
          background-image: url(https://iknowpc.bdimg.com/static/pi-common/widget/feed-list/img/i-anoy-head_854e130.png);
        }
      }
  
      .vm-nickname {
        color: #000;
      }
    }

    .mod-explain time{
      font-size: 13px;
      color: #8590a6;
    }
  
    .mod-sign {
      float: left;
      font-size: 14px;
      color: #7f7f7f;
    }
  }
}