<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>个人中心 - 我的问题</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>
<body class="page-centre">
  <%- include ../layout/header -%>
    <main id="content" class="container flex-justify-between">
      <div class="centre-auto">
        <section class="top-header">
          <a class="top-header-tab" href="#">
            我的问题
          </a>
        </section>
        <section class="centre-question">
          <acticle class="centre-question-item">
            <a class="-title" href="/post/post_id" target="_blank">
              AR扫花迎七夕花礼，我在支付宝AR扫花中了一朵花，快来帮我施肥赢七夕花礼。
            </a>
            <div class="-action">
              <a href="/ask/edit">编辑</a>
              <a href="#">隐藏</a>
              <a href="#">申请删除</a>
            </div>
          </acticle>
        </section>
      </div>
      <%- include ./parts/centre-part -%>
    </main>
    <%- include ../layout/footer -%>
</body>

</html>