@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";


@import "./parts/centre-nav.scss";
@import "./parts/centre-other.scss";

@import "./centre-dynamic.scss";
@import "./centre-message.scss";

.centre-auto {
  position: relative;
  float: left;
  width: auto;
	flex: auto;
	background: #fff;
	padding:0 30px;
}


.top-header {
	@extend .flex;
	height: 42px;
	border-bottom: 1px solid #E5E5E5;
	margin-bottom: 20px;

	.top-header-tab {
		position: relative;
		height: 42px;
		padding: 0 20px;
		line-height: 42px;
		font-size: 14px;
		color: #4c9e82;

		&.active::before {
			position: absolute;
			left: 0;
			bottom: 0;
			width:100%;
			height: 2px;
			content: '.';
			text-indent: -999em;
			background: #1e9780;
		}
	}
}





