<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>动态 - 个人中心</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-centre">

</body>

</html>