@import "./mixins/variables.scss";
@import "./components/form.scss";


.ask-form {
    .task-body-item {
        margin-top: 20px;
        dt {
            font-weight: bold;
        }
    }
    .ask-form-group {
        margin-top: 20px;
        dt {
            font-weight: bold;
        }
    }
}