@import "./mixins/variables.scss";
@import "./components/comment.scss";
.task-header {
    .task-header-title {
        font-weight: normal;
        font-size: 24px;
        color: $text-color-dark;
    }
    .task-header-meta {
        margin-top: 10px;
        span {
            color: $text-color-light;
            border: 1px solid $text-color-light;
            border-radius: 5px;
            margin-right: 10px;
            padding: 0px 5px;
        }
    }
}

.task-body {
    .task-body-item {
        margin-top: 20px;
        dt {
            font-weight: bold;
        }
    }
    .task-body-info {
        padding: 20px 0;
    }
}

.task-process {
    margin-top: 60px;
    border-top: 1px solid $text-color-light;
}



.recommend,
.hotopic {
    margin-top: 20px;
    font-size:12px;
    h2 {
        font-size: 18px;
        font-weight: normal;
        color: $text-color-dark;
    }
    li {
            margin-top: 10px;
    }
}

.hotopic {}
