<div class="user-active">
    <ul>
        <% for user in activeUsers %>
        <li>
            <div class="-person">
                <a class="-gravatar" href="/user/2901002/jezrael">
                    <img src="https://i.stack.imgur.com/hMDvl.jpg?s=96&amp;g=1" alt="" width="48" height="48">
                </a>
                <div class="-info">
                    <a href="#">${user.name}</a>
                    <p class="-credit">
                          <span class="vm-praise" title="获得 42515 次赞同">
                            4.2k
                          </span>
                        <span class="vm-badge" title="解决问题被采纳 10 次">
                            <i>•</i>
                            <em>7</em>
                          </span>
                        <span class="vm-badge" title="有效发布问题 32 次">
                              <i>•</i>
                              <em>7</em>
                          </span>
                    </p>
                    <p class="-tags">
                        <a href="/questions/tagged/pandas">pandas</a>,
                        <a href="/questions/tagged/python">python</a>,
                        <a href="/questions/tagged/dataframe">dataframe</a>
                    </p>
                </div>
            </div>
            <div class="-intro">
                ${user.signature}
            </div>
        </li>
        <% endfor %>
    </ul>
</div>