@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";

*, *::before, *::after {
	box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,body,#content {
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
    background: url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/login/login_bg_wenda_67e39d4.png) center 20px no-repeat;
}

::input-placeholder{color:#aaa}

#content {
	@extend .flex-justify-center;
	@extend .flex-item-center;
}

.site-logo {
	display: flex;
	position: absolute;
    top: 40px;
    left: 40px;

	.-logo {
	    width: 48px;
	    height: 48px;
	    background: url(../common/svg/logo.svg) no-repeat center center;
	    background-size: 100% auto;
	    text-indent: -999em;
	    margin-right: 10px;
	}

	.-name {
		line-height: 48px;
	}
}

.login {
	width: 400px;
    padding: 28px 50px 38px;
}


.login-header {
	@extend .flex;
	height: 40px;

    a {
    	position: relative;
	    width: 50%;
	    border-bottom: 1px solid #e8e8e8;
	    text-align: center;
	    color: #777;
	    font-size: 20px;
	    line-height: 38px;
	    cursor: pointer;


	    &.active {
	    	cursor: default;
	    	span {
			    color: #222;
	    	}

	    	&:after {
			    content: '';
			    width: 100%;
			    position: absolute;
			    height: 2px;
			    background: #1e9780;
			    top: 38px;
			    left: 0;  		
	    	}
	    }
    }
}

.login-type {
	margin-top: 10px;

	.-group {
	    position: relative;
	    height: 55px;
	    color: #666
	}

	.-group > input {
	    height: 33px;
	    line-height: 33px;
	    margin-top: 22px;
	    width: 300px;
	    border-bottom: 1px solid #ddd;
	    border-style: none none solid;
		border-color: #e8e8e8;
		background: transparent;
	}

	.-group>input:focus {
	    border-color: #009981;
	    background: transparent;
	}

	.-group>i {
	    position: absolute;
	    cursor: pointer;
	    top: 14px;
	    right: 12px;
	    font-size: 14px;
	    color: #666
	}

	.-group>i:hover {
	    color: #444
	}
}

.login-toggle {
	margin-top: 10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #4173AF;
	cursor: pointer;
}

.agreement {
	@extend .flex;
	position: relative;
	font-size: 12px;
	color: #222;
	margin-top: 12px;
    margin-bottom: 30px;

	.-cbox {
		position: absolute;
		left: 0;
		top: 3px;
	}

	label {
		margin-left: 15px;

		a:hover {
			color: #f85959;
		}
	}

	a {
	    color: #406599;
	}

	.-forget {
	    position: absolute;
    	right: 0;
	}
}

.action-btn {
	border: none;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    width: 300px;
    text-align: center;
    background-color: #f85959;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    color: #fff;
    font-size: 16px;
    background-image: linear-gradient(89deg,#1e9780 0,#1e9780 100%);
    border-radius: 4px;

    &:hover {
	    opacity: .9;
	    filter: alpha(opacity=90);
	}
}

.verification {
	input {
	    padding-right: 120px;
	}

	.-wrap {
	    position: absolute;
	    top: 20px;
	    right: 1px;
	    height: 32px;
	    width: 83px;

	    .-captcha {
		    display: block;
			width: 100%;
			height: 100%;
		    cursor: pointer
		}

		.-tips {
		    position: absolute;
		    top: -35px;
		    right: -9px;
		    background-color: #444;
		    width: 115px;
		    text-align: center;
		    font-size: 13px;
		    color: #fff;
		    line-height: 26px;
		    padding: 0 2px;

		    &:after {
	    	    content: '';
			    position: absolute;
			    top: 22px;
			    width: 0;
			    left: 51px;
			    height: 0;
			    border: 10px solid transparent;
			    border-top-color: #444;
		    }
		}

		&:hover {
			.tips-bubble {
			    display: block
			};
		}
	}
}

.phone-code {
	input {
	    padding-right: 120px
	}

	.code-btn {
	    position: absolute;
	    right: 0;
	    bottom: 5px;
	    color: #1e9780;
	    cursor: pointer;
	    width: 80px;
	    text-align: center;

	    &.active {
		    color: #ddd;
		}
		
		&:before {
		    content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 20px;
		    width: 1px;
		    background-color: #ddd;
		}
	}
}

.sns-login {
	@extend .flex-justify-center;
	margin-top: 40px;

	a {
		display: flex;
	    margin: 0 25px;
	    line-height: 24px;

	    &:before {
		    line-height: 24px
		}

		span {
			margin-left: 5px;
		}
	}

	.qq {
		&:before {
		    content: '\e6f1';
		    font-size: 24px;
		    color: #12b7f5
		}

		&:hover {
		    color: #00b7f9;
		}
	}

	.weixin {
		&:before {
			content: '\e6f2';
		    font-size: 22px;
		    color: #35C020;
		}

		&:hover {
		    color: #00cd1f;
		}
	}
}


