<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>发布问题 - 知鱼</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  <link href="/css/ask.css" rel="stylesheet">
</head>

<body class="page-ask">
  <% include "layout/header.html" %>
  <main id="content" class="container flex-justify-between">
    <div class="content-column">
      <form class="form" id="askForm" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title" class="vm-label">问题标题
          </label>
          <input type="text" class="form-control" name="title" v-model="post.title" placeholder="一句话描述你的问题">
        </div>
        <div class="form-group ask-field-body">
          <div class="form-group-hd flex-justify-between">
            <label class="vm-label">
              <a :class="['vm-add ion ion-md-add', isShowEditor ? 'active' : '']"  @click="isShowEditor = !isShowEditor" href="#">
              </a>
              问题详细内容
              <span class="vm-remark font-normal">（建议选填）</span>
            </label>
          </div>
          <div v-show="isShowEditor" class="editor form-control">
            <textarea class="form-control autosize" id="editor" name="body" rows="3" placeholder="关于问题的详细描述">
            {{post.body}}
            </textarea>
            <input style="display:none;" id="fileupload" type="file" name="files" multiple>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group-hd flex-justify">
            <label class="vm-label">标签分类</label>
          </div>
          <input-tag :on-change="tagsToHide" :searchurl="autoCompleteUrl" :hot-tags="hotTags" :tags="post.tags"></input-tag>
        </div>

        <div class="form-group ask-reward">
          <label class="vm-label">提供报酬
          </label>
          <div class="form-group-content">
            <div class="form-inline">
              <label>
                金
                <span class="s-space"></span>币：
              </label>
              <input type="text" class="form-control" name="coins" v-model="post.coins" placeholder="数量" /> 个
            </div>
            <div class="form-inline">
              <label>
                赏
                <span class="s-space"></span>金：
              </label>
              <input type="text" class="form-control" name="bounty" v-model="post.bounty" placeholder="金额" /> 元
            </div>
            <div class="form-inline">
              <label>
                自定义：
              </label>
              <input type="text" class="form-control vm-custom" name="custom" v-model="post.custom" placeholder="任何你想到可以作为报酬的事物" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-hd">
            <label for="title" class="vm-label">发布范围</label>
            <a class="fs12">[切换城市]</a>
          </div>
          <div class="form-inline">
            <div class="radio">
              <label>
                <input type="radio" name="city" :value="city.sid" v-model="post.city ? post.city : city.sid">
                {{city.name}}
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="city" value="000000" v-model="city.sid">所有城市
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="vm-label">
            匿名
          </label>
          <input type="checkbox" name="anonymous" value="true" v-model="post.anonymous">
        </div>

        <section v-show="isShowAskMore" class="ask-more mt20">
          <div class="ask-more-separate flex-justify-center">
            <span class="vm-text">更多</span>
          </div>
          <div class="form-group">
            <label for="title" class="vm-label">任务有效时间</label>
            <div class="form-group-content">
              <label>
                <input type="radio" name="valid_time" value="max" v-model="post.valid_time">不限</label>
              <label>
                <input type="radio" name="valid_time" value="15day" v-model="post.valid_time">半个月</label>
              <label>
                <input type="radio" name="valid_time" value="3day" v-model="post.valid_time">三天</label>
              <label>
                <input type="radio" name="valid_time" value="today" v-model="post.valid_time">当天</label>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="vm-label">设置为多人次任务</label>
            <div class="form-inline">
              <input class="form-control form-control-sm" type="text" name="quantity"  v-model="post.quantity" placeholder="输入可以被多少人完成">
            </div>
          </div>
          <div class="form-group">
            <label class="vm-label">设置任务响应条件
              <span class="vm-remark font-normal"> 符合或超出以下条件方能看到问题</span>
            </label>
            <div class="form-inline">
              <label>实名认证</label>
              <input type="checkbox" name="authentication" v-model="post.authentication" >
            </div>
            <div class="form-inline">
              <label>会员等级</label>
              <select class="form-control form-control-sm" name="member_level" id="">
                <option value="" selected>不限制</option>
                <option value="1">大众会员</option>
                <option value="2">黄金会员</option>
                <option value="3">铂金会员</option>
                <option value="4">钻石会员</option>
              </select>
            </div>
            <div class="form-inline">
              <label>芝麻信用</label>
              <select class="form-control form-control-sm" name="ant_credit" id="">
                <option value="" selected>不限制</option>
                <option value="550">普通</option>
                <option value="600">良好（600分以上）</option>
                <option value="650">优秀（650以上）</option>
                <option value="700">极好（700分以上）</option>
                <option value="750">750分以上</option>
                <option value="800">800分以上</option>
                <option value="850">850分以上</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="vm-label">定向发布</label>
            <div class="form-inline">
              <label>关注标签</label>
              <input class="form-control form-control-sm" type="text" name="member_tags" value="" placeholder="搜索标签">
            </div>
            <div class="form-inline">
              <label>指定圈子</label>
              <input class="form-control form-control-sm" type="text" name="groups" value="" placeholder="搜索团队">
            </div>
            <div class="form-inline">
              <label>指定用户</label>
              <input class="form-control form-control-sm" type="text" name="members" value="" placeholder="搜索用户">
            </div>
          </div>
        </section>

        <a class="ask-more-toggle" v-on:click.prevent="isShowAskMore = !isShowAskMore" href="#">
          {{isShowAskMore ? '收起更多设置' : '更多设置'}}
          <i class="iconfont icon-ask-more" v-bind:class=""></i>
          <span class="vm-remark">（有效时间/多人次任务/响应条件/定向发布）</span>
        </a>

        <!--<div class="form-group">
                  <label for="title" class="vm-label">验证码</label>
                  <div class="form-inline">
                      <input type="text" class="vm-control" name="expect" />
                  </div>
              </div>-->

        <div class="ask-sure">
          <input type="hidden" name="post_id" v-model="post._id">
          <button class="btn bs-btn bs-btn-primary" @click="submit">确定</button>
        </div>
      </form>
    </div>
    <aside class="content-sidebar">
      <div class="sidebar-inner">
        <section class="ask-notice">
          已有 383894 人获得帮助。
        </section>
        <section class="ask-notes">
          <h3>发布问题须知：</h3>
          <p>1. 问题要尽可能详实，全面阐述建议添加详细内容，有违法律道德的提问将被删除。</p>
          <p>2. 给问题添加正确的分类标签，有助于更快地获得解决。</p>
          <p>3. 金币用于兑换礼物，参与活动，每个账号注册后自动发放50金币。</p>
          <p>4. 鼓励发布赏金问题，当前余额不足时需要充值，可自由提现。</p>
          <p>5. 关于自定义奖励，范围不限，需求发布者与响应者自行完成领取和发放。</p>
          <br>
          <h3>注意：</h3>
          <p>在更多中设置问题有效时间、开启多人完成模式，限制可以被哪些用户看到，响应完成。</p>
          <p class="text-right">
            <a href="#">访问帮助中心</a>
          </p>
        </section>
        <!-- <section class="ask-tips">
          <h3>发布问题须知</h3>
          <p>1.问题要尽可能详实，全面阐述建议添加问题补充，有违法律道德的提问将被删除。</p>
          <p>2.给问题添加正确的分类标签，有助于更快地获得解决。</p>
          <p>3.金币用于兑换礼物，参与活动，每个账号注册后自动发放50金币。</p>
          <p>4.鼓励发布赏金问题，当前余额不足时需要充值，可自由提现。</p>
          <p>5.关于自定义奖励，范围不限，需求发布者与响应者自行完成领取和发放。</p>
          <br>
          <h3>注意：</h3>
          <p>在更多中设置问题有效时间、开启多人完成模式，限制可以被哪些用户看到，响应完成。</p>
          <p class="text-right">
            <a href="#">访问帮助中心 >></a>
          </p>
        </section> -->
      </div>
    </aside>
  </main>
  <script type="text/javascript">
    window.__PAGE_STATE = {};
    window.__PAGE_STATE['isLogin'] = ${isLogin};
    window.__PAGE_STATE['post'] = ${post | dump | safe}
    window.__PAGE_STATE['hotTags'] = [
      {"name":"投票","id":"5a12a9f6e732354e47cb72d0"},
      {"name":"分享","id":"5a12a9f6e732354e47cb72d2"},
      {"name":"代购","id":"5a49b7b570fdc1167a0f82c7"},
      {"name":"陪玩","id":"5a4a4c4170fdc1167a0f82d2"},
      {"name":"家教","id":"5a4a4c4170fdc1167a0f82d4"},
      {"name":"宠物","id":"5a49b6e870fdc1167a0f82c1"},
      {"name":"健身","id":"5a49b7b570fdc1167a0f82c6"},
      {"name":"共享账号","id":"5a49b7b570fdc1167a0f82c9"},
      {"name":"装修","id":"5a586835867deb4e9abf344a"}
    ];
  </script>
  <script type="text/javascript" src="/js/vendor.js"></script>
  <script type="text/javascript" src="/js/ask.js"></script>
</body>

</html>
