<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>发布问题 - 知鱼</title>
  <meta name="Keywords" content="关键词"/>
  <meta name="Description" content="描述"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
  <link href="/css/centre.css" rel="stylesheet">
</head>

<body class="page-ask">
<% include "layout/header.html" %>
<main id="content" class="container flex-justify-between">
  <div class="centre-auto">
    <section class="top-header">
      <a class="top-header-tab" href="#">
        最新动态
      </a>
    </section>
    <section class="dynamic-new">
      <article class="dynamic-new-item">
        <div class="mod-">
            <a>被动的鱼</a> 关注了问题 • <span class="Feed-meta-item" data-reactid="113">22 分钟前</span>
        </div>

          <a>漫步情侣路，畅游海洋国 | 珠海2天短途游</a>
      </article>
      <article class="dynamic-new-item">
        小草不高 顶了 大鲁天下 的游记 家乡行：只看秋景 2018-01-26 11:36:16
      </article>
      <article class="dynamic-new-item">
        Unfair 收藏了 萝萝 的游记 初冬厦门，二丫的花样假期（厦门/土楼4日亲子游） 2018-01-26 11:36:15
      </article>
      <article class="dynamic-new-item">
        well 顶了 青空_凉风 的游记 周末自驾好去处，溧阳2天的洗肺之旅 2018-01-26 11:36:14
      </article>
    </section>
  </div>
  <% include "blocks/centre_part.html" %>
</main>
<% include "layout/footer.html" %>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/centre.js"></script>
</body>

</html>
