<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>发布问题 - 知鱼</title>
  <meta name="Keywords" content="关键词"/>
  <meta name="Description" content="描述"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
  <link href="/css/centre.css" rel="stylesheet">
</head>

<body class="page-ask">
<% include "layout/header.html" %>
<main id="content" class="container flex-justify-between">
  <div class="content-auto">
    <section class="top-header">
      <a class="top-header-tab" href="#">
        我的问题
      </a>
    </section>
    <section class="centre-question">
      <acticle class="centre-question-item">
        <a class="-title" href="/post/post_id" target="_blank">
          AR扫花迎七夕花礼，我在支付宝AR扫花中了一朵花，快来帮我施肥赢七夕花礼。
        </a>
        <div class="-action">
          <a href="/ask/edit">编辑</a>
          <a href="#">隐藏</a>
          <a href="#">申请删除</a>
        </div>
      </acticle>
    </section>
  </div>
  <aside class="content-part">
    <seaction class="stat">
      <span>获赞：<em>${upvotes}</em></span>
      <span>关注：<em>${subscribed}</em></span>
      <span>粉丝：<em>${fans}</em></span>
    </seaction>
    <section class="menu mt20">

      <a class="-dynamic" href="#">
        最新动态 <!-- （关注对象与自己收到回复） -->
      </a>

      <div class="-group">
        <a href="#">
          我的资产 <!-- （金币，RMB，其他） -->
        </a>

        <a href="#">
          我的消息 <!-- （私信，邀请与系统通知） -->
          <span class="badge badge-pill badge-success float-right">33</span>
        </a>

        <a href="#">
          我的问题 <!-- （发布的） -->
          <span class="badge badge-pill badge-success float-right">33</span>
        </a>

        <a href="#">
          我的回答 <!-- （评论与响应） -->
        </a>

        <a href="#">
          我的关注 <!-- （关注的问题，标签，人） -->
          <span class="badge badge-pill badge-success float-right">9</span>
        </a>
      </div>
      <div class="-group">
        <a href="#">
          加入团队
        </a>
        <a href="#">
          邀请好友
        </a>
      </div>
    </section>
  </aside>
</main>
<% include "layout/footer.html" %>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/centre.js"></script>
</body>

</html>