<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> 首页 — 知鱼</title>
  <meta name="Keywords" content="关键词"/>
  <meta name="Description" content="描述"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
  <link href="/css/index.css" rel="stylesheet">
</head>

<body class="page-index">
<% include "layout/header.html" %>
<main id="content" class="container flex-justify-between">
  <div class="content-column" id="contentColumn">
      <top-header>
      </top-header>

      <question-index>
      </question-index>
      
      <section v-if="pageCount > 1" class="mt20 text-center">
        <el-pagination
          background
          layout="prev, pager, next"
          @current-change="handleSizeChange"
          :current-page="pageNum"
          :page-size="pageSize"
          :page-count="pageCount">
        </el-pagination>
      </section>
  </div>
  <aside class="content-sidebar">
    <div id="ask" class="ask">
      <div class="ask-border">
        <span class="ion ion-ios-chatbubbles"></span>
        <i></i>
        <a href="/ask" target="_blank" class="pi-button ask-btn pi-button-info">
          <span>发布问题</span>
        </a>
      </div>
    </div>
    
    <featured-answer>
    </featured-answer>

    <% include "blocks/hot_tags.html" %>

    <section class="stats">
      <div class="mod-state">
        <p><a href="#" target="_blank">知鱼理念</a><span>•</span><a href="#" target="_blank">用户指南</a><span>•</span><a
          href="#" target="_blank">用户协议</a><span>|</span>© 2017 知鱼</p>
        <p>今日浏览<strong class="attention-num"> 946 </strong>次，<strong class="attention-num">80%</strong>问题得到响应</p>
      </div>
    </section>
  </aside>
</main>
<% include "layout/footer.html" %>
<script type="text/javascript">
  window.__PAGE_STATE = {};
  window.__PAGE_STATE['postCount'] = 365;
  window.__PAGE_STATE['posts'] = ${ posts | dump | safe };
</script>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>

</html>
