<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <meta name="Keywords" content="关键词"/>
  <meta name="Description" content="描述"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
  <link href="/css/login.css" rel="stylesheet">
</head>

<body class="page-login">
  <div id="content" class="content">
    <a class="site-logo" href="/">
        <span class="-logo"></span>
        <span class="-name">
          知鱼
        </span>
    </a>
    <login-form>
      
    </login-form>
  </div>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</body>

</html>
