<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>${post.title}</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  <link href="/css/task.css" rel="stylesheet">
</head>

<body class="page-task">
  <% include "layout/header.html" %>
  <main class="container flex-justify-between" id="content">
    <div class="content-column" id="contentColumn">
      <section class="task-header">
        <h1 class="task-header-title">${post.title}</h1>
        <div class="task-header-meta">
          <% for tag in post.tags %>
            <a data-tid="${tag.tid}" href="javascript:;">${tag.name}</a>
            <% endfor %>
        </div>
      </section>
      <section class="task-body">

        <% if post.body %>
        <div class="task-body-info">
          ${post.body | safe}
        </div>
        <% endif %>

        <dl class="task-body-item">
          <dt>报酬：</dt>
          <dd>
            <% if post.coins %>
            <p> > ${post.coins} 金币</p>
            <% endif %>

            <% if post.bounty %>
            <p> <i class="">￥</i> ${post.bounty} 元</p>
            <% endif %>

            <% if post.custom %>
            <p> > ${post.custom}</p>
            <% endif %>
          </dd>
        </dl>

        <% if post.valid_time !== 'max' and post.valid_time !== -1 %>
        <dl class="task-body-item">
          <dt>有效期：</dt>
          <dd>15天12小时内完成有效</dd>
        </dl>
        <% endif %>

        <div class="task-body-action">
            <a class="btn btn-sm btn-outline-success" @click.prevent="btnWriteAnswer(1)" href="#" title="发表你对问题的建议，看法">
              <i class="ion ion-md-create"></i>写回答
            </a>
            <a class="btn btn-sm btn-outline-info" @click.prevent="btnWriteAnswer(2)" href="#" title="响应问题后，问题发布者将会收到提醒，您对本问题的回答将被标记。">
              <i class="ion ion-ios-heart"></i>响应回答
            </a>
          </div>
        <div class="task-body-author">
          <a class="mod-avatar" href="#">
            <img src="https://avatars1.githubusercontent.com/u/6301319?v=3&amp;s=460" alt="" width="32" height="32">
          </a>
          <div class="mod-info">
            <p class="mod-info-user">
              <span class="vm-nickname">
                ${creator.name}
              </span>
              <span class="vm-member" title="永久黄金会员">
                <i class="ion ion-md-trophy"></i>
              </span>
            </p>
            <p class="mod-info-credit">
              <span class="vm-praise" title="获得 42515 次赞同">
                4.2k
              </span>
              <span class="vm-badge" title="解决问题被采纳 10 次">
                <i>•</i>
                <em>7</em>
              </span>
              <span class="vm-badge" title="有效发布问题 32 次">
                <i>•</i>
                <em>7</em>
              </span>
            </p>
          </div>
        </div>
      </section>

      <task-action>
      </task-action>

      <% if ownComments or (comments and comments.length > 0) %>
      <task-process>
      </task-process>
      <% endif %>

      <task-answer @into-editor="onComptEvent">
      </task-answer>

      <% if comments and comments.length > 5 %>
      <div class="answer-more">
        <a id="J_loadMore" href="#">加载更多<i></i></a>
      </div>
      <% endif %>

      <answer-form>
      </answer-form>
    </div>
    <aside class="content-sidebar">
      <follow>
      </follow>
      <task-related>
      </task-related>
      <section class="stats">
        <div class="mod-tit">问题状态</div>
        <div class="mod-state">
          <p>
            <a href="#" target="_blank">查看问题日志</a>
            <span>|</span>最近编辑于2017-07-19</p>
          <p>被浏览
            <strong class="attention-num">${post.pageviews + 1}</strong> 次</p>
        </div>
      </section>
      <pageview page="post" ident="${post._id}">
      </pageview>
    </aside>
  </main>
  <script type="text/javascript">
    //<![CDATA[
    window.__PAGE_STATE = {};
    window.__PAGE_STATE['processList'] = [3, 1, 1];
    window.__PAGE_STATE['post'] = ${post | dump|safe|replace('</','&lt;/')};
    window.__PAGE_STATE['ownAnswer'] = ${ownComments | dump | safe};
    window.__PAGE_STATE['answers'] = ${comments | dump | safe}
    window.__PAGE_STATE['totalSubscribed'] = ${totalSubscribed}
    window.__PAGE_STATE['subscribers'] = ${subscribers | dump | safe}
    //]]>
  </script>
  <script type="text/javascript" src="/js/vendor.js"></script>
  <script type="text/javascript" src="/js/task.js"></script>
</body>

</html>
