<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>暑期越南游，寻结伴出游伙伴，互相照应。</title>
  <meta name="Keywords" content="关键词"/>
  <meta name="Description" content="描述"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/>
  <link href="/css/user.css" rel="stylesheet">
</head>

<body class="page-task">
<% include "layout/header.html" %>
<main id="content" class="container clearfix">
  <section class="search">
    <form class="search-form" action="">
      <input class="-control" type="text" placeholder="请输入关键词...">
      <button class="-btn">搜索用户</button>
    </form>
  </section>

  <div class="content-column">

    <div class="user">

      <div class="user-hd">
        <h2>活跃用户</h2>
        <nav class="user-hd-nav">
          <a href="#">关爱新人</a>/
          <a href="#">获赞最多</a>/
          <a href="#">打赏最多</a>
        </nav>
      </div>

      <% include "blocks/active_users.html" %>

    </div>

    <div class="team">
      <div class="team-hd">
        <h2>活跃小组</h2>
      </div>
      <div class="team-active">
        <ul>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="一个人旅行">
              <img
                src="http://n2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F90%2Fh%2F90%2Fq%2F90">
            </a>
            <div>
              <a class="-name" target="_blank" href="/g/11232.html">浙江医护后援团</a>
              <p class="-meta">
                类别：医生，医院，健康
              </p>
              <p class="-intro">
                致力于关心，支持浙江医护工作者，协助解决工作生活中遭遇的困难，传播健康生活理念。
              </p>
            </div>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="一个人旅行">
              <img
                src="http://n2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F90%2Fh%2F90%2Fq%2F90">
            </a>
            <div>
              <a class="-name" target="_blank" href="/g/11232.html">投票分享</a>
              <p class="-meta">
                类别：投票，分享，关注
              </p>
              <p class="-intro">
                手工快速，高效地完成投票，分享，关注，app推广下载等任务。
              </p>
            </div>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="一个人旅行">
              <img
                src="http://n2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F90%2Fh%2F90%2Fq%2F90">
            </a>
            <div>
              <a class="-name" target="_blank" href="/g/11232.html">诚品日韩代购</a>
              <p class="-meta">
                类别：投票，分享，关注
              </p>
              <p class="-intro">
                专业日韩代购，每天往返，高效正品保证。
              </p>
            </div>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="一个人旅行">
              <img
                src="http://n2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F90%2Fh%2F90%2Fq%2F90">
            </a>
            <div>
              <a class="-name" target="_blank" href="/g/11232.html">房产顾问团</a>
              <p class="-meta">
                类别：投票，分享，关注
              </p>
              <p class="-intro">
                杭州楼市百事通，最新资讯，优质房源。
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="team-title">
        小组精选
      </div>

      <div class="team-recommend">
        <ul>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>

          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>

          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>

          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>

          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>

          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
          <li>
            <a class="-pic" target="_blank" href="/g/11232.html" title="踏歌行千山">
              <img
                src="http://p1-q.mafengwo.net/s4/M00/CE/E6/wKgByU_hovqo4nXDAABEaif-NVE79.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90">
            </a>
            <a class="-name" target="_blank" href="/g/11232.html">踏歌行千山</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <aside class="content-sidebar">
    <div class="user-topic">
      <h2 class="user-topic-hd">
        专访
      </h2>
      <div class="user-topic-slide">
        <ul class="" style="display: block; padding: 0px; position: relative;">
          <li
            style="position: absolute; left: 45px; top: -1px; width: 160px; height: 160px; opacity: 0.85; z-index: 145; font-size: 12.4px; overflow: hidden;">
            <a href="#" target="_blank">
              <img class="lazy" src="http://p1.music.126.net/F0ASflNBjFkqKnCkUHxW7g==/3267748558149973.jpg"
                   data-original="#" width="270" alt="" style="margin-left:-50px">
            </a>
          </li>
        </ul>
      </div>
      <div class="user-topic-text">
        <dl>
          <dd style="display: block;">
            <p class="-author">
              <a href="//me.qidian.com/authorIndex.aspx?id=400484985" target="_blank">ZENHO</a>
              <span class="vm-member ml10" title="永久黄金会员">
                      <i class="ion ion-md-trophy"></i>
                    </span>
            </p>
            <p class="-total">
              <span><em>7,493</em>关注</span>
              <span><em>17k</em>赞</span>
            </p>
            <p class="-sign">做个风情万种的人，到老都不对你死心。</p>
            <p class="-intro">
              北京师范大学 · MKT，从事互联网运营工作，喜欢旅游，种花。
            </p>
            <a class="read-btn" href="//book.qidian.com/info/1010138698">更多介绍 >></a></dd>
          <dd data-rid="2" style="display: none;">
          </dd>
          <dd data-rid="3" style="display: none;">
          </dd>
        </dl>
      </div>
    </div>

    <div class="team-party">
      <h2 class="team-party-hd">
        小组活动
      </h2>
      <div class="team-party-bd">
        <ul>
          <li>
            <a href="#">登泰山 观日出 徒步桃花峪</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
          <li>
            <a href="#">登泰山 观日出 徒步桃花峪</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
          <li>
            <a href="#">春暖花开，横店2日游</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
          <li>
            <a href="#">春暖花开，横店2日游</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
          <li>
            <a href="#">春暖花开，横店2日游</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
          <li>
            <a href="#">春暖花开，横店2日游</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
          <li>
            <a href="#">春暖花开，横店2日游</a>
            <p>
              <a href="" class="-vater"></a>
              <span class="nickname">踏歌行千山</span>
              <time>10-25</time>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</main>
<% include "layout/footer.html" %>
<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
</body>

</html>
