
@import "./common/variables.scss";
@import "./common/normalize.scss";
@import "./common/reset.scss";

body {
  color: $text-color-base;
}

a {
  color: $link-base-color;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

.container {
	position: relative;
  max-width: 1060px;
  padding: 0 15px;
  margin: 0 auto;
}

#content {
  padding-top: 84px;
  padding-bottom: 24px;
}

.content-column {
  position: relative;
  float: left;
  width:728px;
}

.content-sidebar {
  position: relative;
  float: right;
  width:300px;
}

.s-disabled {
  color: #d8d8d8;
}
