
@import "./mixins/variables.scss";
@import "./mixins/normalize.scss";
@import "./mixins/reset.scss";

body {
  color: $text-color-base;
}

a {
  color: $link-base-color;
  &:hover {
    color: $link-hover-color;
  }
}

#main {
  padding: 24px 0;
  display: flex;
}

.container {
	position: relative;
  max-width: 1060px;
  margin: 0 auto;
}

.content-column {
  position: relative;
  float: left;
}

.sidebar {
  position: relative;
  float: right;
}

.sidebar-inner {
  margin-left:30px;
}
