
.ask {
    background: #eeeff2;
    border: 1px solid $border-color-base;
}

.ask .ask-border {
    padding: 10px 20px;
    border-radius: 2px;
    background: #fff;
}

.ask i {
    width: 136px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
    background: url(https://iknowpc.bdimg.com/static/pi-home/widget/aside-section/ask/img/tips_4a066d7.svg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.ask .ico {
    font-size: 24px;
}

.ask .ico:before {
    content: '\e64e';
    color: #1E9780;
}

.ask .ico:nth-child(2):before {
    display: inline-block;
    width: 154px;
    content: '\e651';
    color: #141616;
}

.ask .ask-btn {
    display: inline-block;
    margin-left: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border: 0;
    color: #fff;
    background-color: #1e9780;
    border-color: #1e9780;
    padding: 0 10px;
    border-radius: 4px;
    text-decoration: none;
}

.ask .ask-btn:hover {
    background: #258976;
}

.recommend {
  margin-top: 10px;
  padding: 15px 15px 10px;
  border: 1px solid #E0DCBF;
  font-size: 13px;

  .mod-title {
    font-weight: bold;
    color: #4c9e82;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color-base;

    &:first-child {
      margin-top: 0;
    }
  }

  .mod-item {

  }
}

.dynamic,
.interesting-tag,
.network {
  margin-top: 20px;
}

.hot-answer {
  font-size: 13px;
  margin-top: 18px;

  .-header {
    border-bottom: 1px solid $border-color-base;
    line-height: 1;
    padding-bottom: 5px;
  }

  .-list {
    padding-top: 10px;
  }

  .-item {
    margin-top: 5px;
  }

  .-title {
    color: #000;
    line-height: 22px;
    text-align: justify;
    position: relative;
  }

  .-preview {
    @extend .flex-justify-between;
    margin-top: 5px;
    overflow: hidden;
    color: #999;

    .-content {
      line-height: 20px;
    }

    .-image {
      border: 1px solid #e8e8e8;
      width: 96px;
      height: 60px;
      margin-left: 10px;
      overflow: hidden;
      flex: 1 0 auto;
    }
  }
}

.hot-tag {
  margin-top: 18px;
  font-size: 13px;

  .-header {
    @extend .flex-justify-between;
    
    .-title,
    .-more {
      line-height: 24px;
    }
  }

  .-list {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .-item {
    padding: 2px 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid $border-color-base;
    border-radius: 15px;

    &.active,
    &:hover {
      .-name {
        color: #4c9e82;
      }
    }

    .-name {
      color: #333;
      text-decoration: none;
    }

    .-group {
      display: none;
    }
  }
}

.stats {
  margin-top: 18px;

  a {
    // color: #139065;
  }

  span {
    margin: 0 8px;
  }

  .mod-state {
    padding: 5px 0 18px;
    line-height: 24px;
    font-size: 13px;
    color: #7f7f7f;
  }
}

.network {
  line-height: 1.3em;
  .mod-hd {
    margin-bottom: 0.5em;
  }
  
  .mod-bd {
    font-size: 13px;
  }

  li {
    margin-bottom: 10px;
    @extend .flex-item-start;
    color: #333;

    i {
      margin: 2px 6px 0 0;
    }
  }
}