.question-summary {
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #e4e6e8;
  @extend .flex;
}

.question-summary-stat {
  @extend .flex-item-center;
  margin-right: 10px;

  &:hover {
    text-decoration: none;
  }

  div {
    min-width: 38px;
    margin: 0 3px 0 0;
    color: #848d95;
    text-align: center;
    padding: 8px 5px;
    line-height: 1;

    .vm-counts {
      font-style: normal;
      font-size: 14px;
      margin-bottom: 5px;
      color:#6a737c;
    }

    span {
      color: #848d95;
      font-size: 12px;
    }
  }
}

.question-summary-info {
  position: relative;
  flex: 1;

  .mod-title {
    margin-bottom: 5px;
    .vm-link {
      color: #141616;

      // &:hover {
      //   color: #3af;
      // }
    }
  }

  .mod-tags {
    .vm-tag {
      padding: 3px 6px;
      margin-right: 8px;
      font-size: 12px;
      line-height: 1;
      color: #39739d;
      background-color: #E1ECF4;
      text-decoration: none;

      &:hover {
        color: #33658a;
        background-color: #cee0ed;
      }
    }
  }

  .mod-started {
    position: absolute;
    right: 10px;
    bottom: 3px;
    font-size: 12px;
    
    .vm-start {
      color: #9199a1;
      text-decoration: none;

      &:hover {
        color: #07C;
      }
    }

    .vm-score {
      font-weight: bold;
      color: #848d95;
    }
  }

}