
.top-header {
  @extend .flex-justify-between;
  @extend .flex-item-center;

  height: 40px;
  border-bottom: 1px solid #e4e6e8;
  font-size: 12px;

  .top-header-title {
    font-size: 16px;
    font-weight: 600;
  }
}

.top-header-nav {
  @extend .flex-item-center;

  a {
    position: relative;
    line-height: 40px;
    padding: 0 20px;
    color: #4c9e82;
    font-size: 12px;
    text-decoration: none;

    // &.active {
    //   color: #4c9e82;
    // }

    &.active {
      height: 38px;
      border: 1px solid #e4e6e8;
      border-bottom-color: transparent;
      border-radius: $border-radius-sm $border-radius-sm 0 0;
      padding-bottom: 1px;
      background: #fff;

      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: -1px;
      //   left: -1px;
      //   right: -1px;
      //   height: 2px;
      //   background-color: #f69c55;
      // }
    }
  }
}

.top-header-pager {
  margin-top: 12px;
  .vm-left,
  .vm-right {
    font-size: 14px;
    padding: 0 12px;
  }

  .vm-num {
    i {
      font-style: normal;
      color: #f40;
    }
  }
}