<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>发现 - 知鱼</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-task">
  <%- include ../layout/header -%>
  <main id="content" class="container flex-justify-between">
    <div class="content-column">
      <section class="recommend">
        <div class="recommend-hd">
          推荐
        </div>
        <ul class="recommend-bd">
          <li class="mod-item">
            <a href="#">有素材，写一篇电器推广公众号文章。</a>
            <span class="vm-award">金币</span>
          </li>
          <li class="mod-item">
            <a href="#">AR扫花迎七夕花礼，我在支付宝AR扫花中了一朵花，快来帮我施肥赢七夕花礼。</a>
            <span class="vm-award">悬赏</span>
          </li>
          <li class="mod-item">
            <a href="#">朋友摆摊，召唤小伙伴帮忙捧场，钱我出。</a>
            <span class="vm-award">自定义奖励</span>
          </li>
          <li class="mod-item">
            <a href="#">推荐一只靠谱牛股，给出观点和理由。</a>
            <span class="vm-award">悬赏</span>
          </li>
          <li class="mod-item">
            <a href="#">工作日带挂号，看病。</a>
            <span class="vm-award">悬赏</span>
          </li>
        </ul>
      </section>
      <follow-ctrl>
      </follow-ctrl>
      <follow-question>
        <article class="question-summary">
          <div class="question-sumary-title">
            请业内老司机帮忙分析良渚文化村和翡翠城地段优劣和未来发展潜力。
          </div>
          <div class="question-sumary-author">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="question-sumary-content">
            <div class="mod-preview">

            </div>
            <div class="mod-answer">
              A difficult and unique medical degree?? Well.. there is only one medical degree. There isnt any other type. A medical degree
              is very simple to acquire, it only requires hardwork and requires lot of...
              <a class="vm-all text-success" href="#">显示全部</a>
            </div>
          </div>
          <div class="question-sumary-bt">
            <div class="mod-action">
              <a>
                <i class="ion ion-md-add"></i>
                关注
              </a>
              <a>
                <i class="ion ion-md-star"></i>
                收藏
              </a>
              <a>
                <i>•</i>
                1394 个回答
              </a>
            </div>
          </div>
          <div class="question-sumary-stats">
            <a href="#">1.6K</a>
          </div>
        </article>
        <article class="question-summary">
          <div class="question-sumary-title">
            请业内老司机帮忙分析良渚文化村和翡翠城地段优劣和未来发展潜力。
          </div>
          <div class="question-sumary-author">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="question-sumary-content">
            <div class="mod-preview">

            </div>
            <div class="mod-answer">
              A difficult and unique medical degree?? Well.. there is only one medical degree. There isnt any other type. A medical degree
              is very simple to acquire, it only requires hardwork and requires lot of...
              <a class="vm-all text-success" href="#">显示全部</a>
            </div>
          </div>
          <div class="question-sumary-bt">
            <div class="mod-action">
              <a>
                <i class="ion ion-md-add"></i>
                关注
              </a>
              <a>
                <i class="ion ion-md-star"></i>
                收藏
              </a>
              <a>
                <i>•</i>
                1394 个回答
              </a>
            </div>
          </div>
          <div class="question-sumary-stats">
            <a href="#">1.6K</a>
          </div>
        </article>
        <article class="question-summary">
          <div class="question-sumary-title">
            请业内老司机帮忙分析良渚文化村和翡翠城地段优劣和未来发展潜力。
          </div>
          <div class="question-sumary-author">
            <p class="mod-user">
              <a class="vm-avatar" data-uid="24cd6162636131633563662559" href="/pai/center?uid=24cd6162636131633563662559" style="background-image: url(https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600/sign=21612f75580fd9f9a0425d6d101df81c/f703738da977391279828568f1198618367ae217.jpg);"></a>
              <a class="vm-nickname" data-uid="5cd06162633437343533669408" href="/pai/center?uid=5cd06162633437343533669408">尤慕</a>
            </p>
            <p class="mod-sign" title="我愿变成童话拟，里爱的辣个天使">，我愿变成童话拟，里爱的辣个天使</p>
          </div>
          <div class="question-sumary-content">
            <div class="mod-preview">

            </div>
            <div class="mod-answer">
              A difficult and unique medical degree?? Well.. there is only one medical degree. There isnt any other type. A medical degree
              is very simple to acquire, it only requires hardwork and requires lot of...
              <a class="vm-all text-success" href="#">显示全部</a>
            </div>
          </div>
          <div class="question-sumary-bt">
            <div class="mod-action">
              <a>
                <i class="ion ion-md-add"></i>
                关注
              </a>
              <a>
                <i class="ion ion-md-star"></i>
                收藏
              </a>
              <a>
                <i>•</i>
                1394 个回答
              </a>
            </div>
          </div>
          <div class="question-sumary-stats">
            <a href="#">1.6K</a>
          </div>
        </article>
      </follow-questions>
    </div>
    <aside class="content-sidebar">
      <!-- <section class="marketing">
        <a href="#" class="mod-item"  style="background-image: url(https://gss0.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=8a9cc80a87b1cb133e3c3415ed647a76/b7003af33a87e9508b1e50891a385343faf2b4ce.jpg);background-size: cover;">
        </a>
        <a href="#" class="mod-item" style="background-image: url(https://gss0.baidu.com/94o3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=a9ed0e6002fa513d51ff64d80d5d79c3/d01373f082025aaf9c6de577f1edab64034f1a2a.jpg);background-size: cover;">
        </a>
        <a href="#" class="mod-item" style="background-image: url(https://gss0.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=4afe262e0346f21fc9615655c6144758/cefc1e178a82b901d7a4abe67a8da9773812efde.jpg);background-size: cover;">
        </a>
      </section> -->
      <section class="hot-activity">
        <a href="#" class="mod-item" style="background-image: url(https://gss0.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=4afe262e0346f21fc9615655c6144758/cefc1e178a82b901d7a4abe67a8da9773812efde.jpg);background-size: cover;">
        </a>
      </section>

      <hot-tag>
      </hot-tag>
      <hot-team>
      </hot-team>
    </aside>
  </main>
  <%- include ../layout/footer -%>
  <script type="text/javascript">
    window.__PAGE_STATE = {};
    window.__PAGE_STATE['interestTags'] = [{
      tid: '001',
      name: '创业'
    }, {
      tid: '002',
      name: '互联网'
    }, {
      tid: '003',
      name: '投资'
    }, {
      tid: '004',
      name: '前端开发'
    }, {
      tid: '005',
      name: '股票'
    }, {
      tid: '006',
      name: '旅行'
    }, {
      tid: '007',
      name: '医学'
    }];
    window.__PAGE_STATE['recommendTags'] = [];
  </script>
</body>

</html>