@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

.marketing {
  @extend .flex-justify-between;

  .mod-item {
    width: 30%;
    height: 124px;
    border-radius: 2px;
    transition: all .8s;
  }
}

.recommend {
  .recommend-hd {
    border-bottom: 1px solid $border-color-base;
  }
  .recommend-bd {
    margin-top: 10px;

    .mod-item {
      @extend .flex-justify-between;

      a {
        color: #333;
        font-weight: 500;
        line-height: 25px;

        &:hover {
            text-decoration: underline;
        }
      }

      .vm-award {
        color: $text-color-mark;
      }
    }
  }
}

.follow {
  margin-top: 20px;
}

.follow-tags {
  .mod-interest {
    margin-top: 10px;
    border-top: 1px solid $border-color-base;

    // border-bottom: 1px solid $border-color-base;
    padding: 18px 0;

    @extend .flex-wrap;

    a {
      display: block;
      padding: 0 10px;
      border-radius: 30px;
      text-decoration: none;
      border: 1px solid #daecf5;
      margin-right: 10px;

      &:hover {}
    }
  }
}

.follow-console {
  border-bottom: 1px solid $border-color-base;
  @extend .flex-item-center;
  @extend .flex-justify-between;

  .mod-rank {
    line-height: 32px;
  
    .vm-tab {
        cursor: pointer;
  
      &.active {
        color: #4c9e82;
        cursor: default;
      }
    }
  
    .vm-line {
        margin: 0 8px;
    }
  }
}

.follow-questions {}

.question-summary {
  position: relative;
  padding-left: 50px;

  @extend .flex-column;

  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 18px;
  padding-top: 18px;

  .question-sumary-title {
    margin-left: -50px;
    line-height: 30px;
    color: #141616;
    font-size: 16px;
    letter-spacing: .8px;
    font-weight: 600;
  }

  .question-sumary-author {
    @extend .flex-item-center;

    margin-top: 5px;
    line-height: 25px;

    .mod-user {
        position: relative;
        float: left;
        padding-left: 32px;
        min-height: 25px;
        font-size: 14px;
        color: #000;

        .vm-avatar {
            width: 25px;
            height: 25px;
            position: absolute;
            border-radius: 50%;
            background-position: 50% 50%;
            background-size: cover;
            left: 0;
            top: 0;

            &.anoy {
                background-image: url(https://iknowpc.bdimg.com/static/pi-common/widget/feed-list/img/i-anoy-head_854e130.png);
            }
        }

        .vm-nickname {
            color: #000;
        }
    }

    .mod-sign {
        float: left;
        font-size: 14px;
        color: #7f7f7f;
    }
  }

  .question-sumary-content {
    margin-top: 5px;
  }

  .question-sumary-addition {
    margin-top: 10px;
    color: #7f7f7f;
    font-size: 13px;
  }

  .question-sumary-bt {
    @extend .flex-justify-between;
    position: relative;
    margin-top: 10px;
    font-size: 13px;

    .mod-action {
      @extend .flex-item-center;

      .vm-thumbs {
        margin-right: 18px;

        button {
          color: #8b8b8b;
        }
      }

      a {
        margin-right: 18px;
        color: #7f7f7f;
      }
    }
  }

  .question-sumary-stats {
    position: absolute;
    top: 52px;
    left: 0;
    width: 40px;
    background: $bg-light;
    text-align: center;
    border-radius: $border-radius-sm;
  }
}
.hot-activity {
  height: 180px;
  @extend .flex;
  a {
    width: 100%;
    border-radius: $border-radius;
  }
}

.hot-tags,
.hot-team {
  min-height: 300px;
  margin-top: 30px;
}

.hot-tags {
  font-size: 13px;

  .-header {
    @extend .flex-justify-between;

    .-title,
    .-more {
      line-height: 24px;
    }
  }

  .-list {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .-item {
    @extend .flex-column;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color-base;
    padding-bottom: 5px;

    .-avatar {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: $border-radius-sm;
    }
    .-info {
      height: 40px;
      margin-left: 50px;
    }
  }

  .-link {
    margin-top: 5px;
    color: #585858;
    letter-spacing: .5px;
  }
}

.hot-team {

  .-header {
    @extend .flex-justify-between;
    
    .-title,
    .-more {
      line-height: 24px;
    }
  }

  .-list {
    margin-top: 10px;
  }

  .-item {
    padding: 2px 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid $border-color-base;
    border-radius: 15px;

    &.active,
    &:hover {
      .-name {
        color: #4c9e82;
      }
    }

    .-name {
      color: #333;
      text-decoration: none;
    }

    .-group {
      display: none;
    }
  }
}
