@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

@import "./scss/follow-ctrl.scss";
@import "./scss/follow-question.scss";
@import "./scss/hot-tag.scss";
@import "./scss/hot-team.scss";

.marketing {
  @extend .flex-justify-between;

  .mod-item {
    width: 30%;
    height: 124px;
    border-radius: 2px;
    transition: all .8s;
  }
}

.recommend {
  .recommend-hd {
    border-bottom: 1px solid $border-color-base;
  }
  .recommend-bd {
    margin-top: 10px;

    .mod-item {
      @extend .flex-justify-between;

      a {
        color: #333;
        font-weight: 500;
        line-height: 25px;

        &:hover {
            text-decoration: underline;
        }
      }

      .vm-award {
        color: $text-color-mark;
      }
    }
  }
}

.hot-activity {
  height: 180px;
  @extend .flex;
  a {
    width: 100%;
    border-radius: $border-radius;
  }
}

