<aside class="centre-other">
  <section class="information">

  </section>
  <section class="new-question">
    <h3>推荐问题</h3>
    <a href="#">求推荐靠谱独立设计师</a>
    <a href="#">浙江中医药大学怎么样，毕业好找工作吗？</a>
    <a href="#">杭州哪里可以体验采茶？</a>
  </section>
  <section class="team">
    <h3>小组</h3>
    <ul class="team-bd">
      <li>
        <a class="-pic" target="_blank" href="/g/11232.html" title="一个人旅行">
          <img src="http://n2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F90%2Fh%2F90%2Fq%2F90">
        </a>
        <div>
          <a class="-name" target="_blank" href="/g/11232.html">互联网创业</a>
          <p class="-meta">
            互联网，创业
          </p>
        </div>
      </li>
      <li>
        <a class="-pic" target="_blank" href="/g/11232.html" title="一个人旅行">
          <img src="http://n2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F90%2Fh%2F90%2Fq%2F90">
        </a>
        <div>
          <a class="-name" target="_blank" href="/g/11232.html">投票分享</a>
          <p class="-meta">
            投票，分享，关注
          </p>
        </div>
      </li>
    </ul>
  </section>
</aside>