<aside class="centre-part">
  <h2 class="heading">
    个人中心
  </h2>
  <!-- <seaction class="stat">
    <span>获赞：<em>99</em></span>
    <span>关注：<em>99</em></span>
    <span>粉丝：<em>1800</em></span>
  </seaction> -->
  <section class="menu">

    <div class="-group">
      <a class="-dynamic active" href="#">
        最新动态 <!-- （关注对象与自己收到回复） -->
      </a>

      <a href="#">
        我的消息 <!-- （私信，邀请与系统通知） -->
        <span class="-badge">33</span>
      </a>
    </div>

    <div class="-group">
      <a href="#">
        我的资产 <!-- （金币，RMB，其他） -->
      </a>

      <a href="/centre/question" target="_blank">
        我的问题 <!-- （发布的） -->
        <span class="badge badge-pill badge-success float-right">33</span>
      </a>

      <a href="#">
        我的回答 <!-- （评论与响应） -->
        <span class="badge badge-pill badge-success float-right">9</span>
      </a>

      <a href="#">
        我的关注 <!-- （关注的问题，标签，人） -->
        <span class="badge badge-pill badge-success float-right">9</span>
      </a>
    </div>
    <div class="-group">
      <a href="#">
        加入团队
      </a>
      <a href="#">
        邀请好友
      </a>
    </div>
  </section>
</aside>