/* display */

.d-none {
    display: none !important;
}
.d-block { 
    display: block !important; 
}
.d-flex { 
    display: flex !important; 
}
.d-inline-flex  { 
    display: inline-flex !important; 
}

.hide { display: none; }
.block { display:block; }
.center {display: block; margin-left: auto; margin-right: auto;}