/* Positioning-float */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flxed {
  position:fixed; 
  top:0; 
  z-index:1000;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10001;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
}

.float-left  { 
  float:left; 
}
.float-right { 
  float: right; 
}
.float-none  { 
  float: none; 
}