@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

// @import "../common/scss/components/text.scss";
@import "../common/scss/components/buttons.scss";


@import "./scss/form.scss";

.page-ask {
    ::-webkit-input-placeholder { font-size:12px; color:#ccc; }
    ::-moz-placeholder { font-size:12px; color:#ccc; } /* firefox 19+ */
    :-ms-input-placeholder { font-size:12px; color:#ccc; } /* ie */
    input:-moz-placeholder { font-size:12px; color:#ccc; }

    textarea.autosize {
        resize: none;
        overflow: hidden;
    }
}

.ask-reward {
    .form-inline {
        label {
            width: 60px;
            text-align: right;
            font-weight: normal;
        }
        margin-bottom: 10px;
    }
    .vm-control {
        width: 120px;

        &.vm-custom {
            width: 360px;
        }
    }
}

.ask-more {
    .ask-more-separate {
        position: relative;
        margin-bottom: 20px;
        width: 360px;
        border-top: 1px dashed $border-color-base;

        .vm-text {
            position: absolute;
            top: -10px;
            font-size: 14px;
            background: #fff;
            padding: 0 15px;
        }
    }
    .ask-more-group {
        margin-top: 20px;
        dt {
            font-weight: bold;
        }
    }

    .form-inline {
        margin-bottom: 8px;
        label {
            margin-right: 10px;
        }
    }
}

.ask-more-toggle {
    font-size: 12px;
}

.s-space {
    padding:0 7px;
}

.ask-sure {
    margin-top: 20px;
    .btn {
        width: 30%;
    }
}

.editor {
    position: relative;
    border: 1px solid #ced4da;
    padding: 1px 0;
    border-radius: 4px;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
    }

    .mce-tinymce {
        border: none;
        box-shadow: none;
    }

    .mce-statusbar {
        border: none;
        .mce-path {
            display: none;
        }
    }

    .mce-toolbar {
        &.mce-first {
            position: absolute;
            top: -34px;
            right: 0;
        }
    }

    .mce-top-part {

        &::before {
            //box-shadow: none;
        }

        .mce-container-body {
            //border-color: transparent;
            //outline: none;
        }
    }
    .mce-toolbar {
        .mce-btn-group {
            padding: 0;
        }
    }

    .mce-edit-area {
        border: none;
    }

    .mce-btn button.active .mce-txt {
        color: $color-primary;
    }
}

.form-group-bd {
    .vm-tag {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        border: 1px solid #e5e5e5;
        background-color: #f6f6f6;
        border-radius: 13px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 24px;
        position: relative;
        cursor: pointer;
        transition: all .2s;
    }
}

.editor {
    margin-top: 10px;
}

.ask-notes {
    margin-top: 10px;
    padding: 15px 15px 10px;
    background-color: #FFF8DC;
    border: 1px solid #E0DCBF;
    line-height: 1.8;
    font-size: 12px;
    
    h3 {
        margin-bottom: 5px;
    }
}

.ask-tips {
    margin-top: 10px;
    font-size: 13px;

    h3 {
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 10px;
        color: #999;
    }
}