@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

// @import "../common/scss/components/text.scss";
// @import "../common/scss/components/buttons.scss";
@import "../common/scss/components/form.scss";

.page-ask {
    ::-webkit-input-placeholder { font-size:12px; color:#ccc; }
    ::-moz-placeholder { font-size:12px; color:#ccc; } /* firefox 19+ */
    :-ms-input-placeholder { font-size:12px; color:#ccc; } /* ie */
    input:-moz-placeholder { font-size:12px; color:#ccc; }

    textarea.autosize {
        resize: none;
        overflow: hidden;
        min-height: 72px;
        max-height: 200px;
    }
}

.ask-reward {
    .form-inline {
        label {
            width: 60px;
            text-align: right;
            font-weight: normal;
        }
        margin-bottom: 10px;
    }
    .vm-control {
        width: 120px;

        &.vm-custom {
            width: 360px;
        }
    }
}

.ask-more {
    .ask-more-separate {
        position: relative;
        margin-bottom: 20px;
        width: 360px;
        border-top: 1px dashed $border-color-base;

        .vm-text {
            position: absolute;
            top: -10px;
            font-size: 14px;
            background: #fff;
            padding: 0 15px;
        }
    }
    .ask-more-group {
        margin-top: 20px;
        dt {
            font-weight: bold;
        }
    }

    .form-inline {
        margin-bottom: 8px;
        label {
            margin-right: 10px;
        }
    }
}

.ask-more-toggle {
    font-size: 12px;
}

.ask-notes {
    padding: 15px 15px 10px;
    background-color: #FFF8DC;
    border: 1px solid #E0DCBF;
    line-height: 1.8;
    font-size: 12px;
}

.s-space {
    padding:0 7px;
}

.ask-sure {
    margin-top: 20px;
    .btn {
        width: 30%;
    }
}