@import "../common/scss/common.scss";
@import "../common/scss/utils.scss";
@import "../common/scss/icontag.scss";

@import "../common/scss/components/buttons.scss";



.content-header {
  .-title {
    padding-left: 20px;
    font-size: 26px;
  }
}

.content-nav {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

  .-tab a {
    height: 40px;
    line-height: 40px;
    margin-right: 30px;
  }

  .-action {
    line-height: 40px;
  }
}

.stat {
  @extend .flex-justify-between;
  padding: 20px 0;

  a {
    //line-height: 52px;
  }
}

.topic-related {
  margin-top: 20px;
  
  .-ulist {
    margin-top: 20px;
  }
}

.answer-more {
  
  height: 35px;
  margin-top: 36px;

  a {
    display: block;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #666;
    background-color: #efefef;
    border-radius: 4px;

    &:hover {
      background-color: #fff5e5;
      color: #ff9d00;
    }
  }
}

