<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Panda - 知鱼</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <%- include ../layout/bootstrap-css -%>
</head>

<body class="page-task">
  <%- include ../layout/header -%>
    <main class="flex-wrap" id="content">
      <div class="content-header flex-justify-start flex-item-center container">
        <div class="-img">
          <img src="https://qph.ec.quoracdn.net/main-thumb-t-1866158-200-kejtiziytvsdccwsobkrpvumyfbcfbpg.jpeg" alt="Bored Panda" height="80" width="80">
        </div>
        <div class="-title">
          Panda
        </div>
      </div>
      <section class="content-nav">
        <div class="container flex-justify-between">
          <div class="-tab">
            <a href="javascript:;">查看问题</a>
            <a href="javascript:;">待解决</a>
            <a href="javascript:;">Top FAQ</a>
            <a href="javascript:;">团队</a>
            <a href="javascript:;">获赞最多</a>
          </div>
          <div class="-action">
            <i class=""></i>doSomething
          </div>
        </div>
      </section>

      <section class="container flex">
        <div class="content-column" id="contentColumn">
          <!-- <section class="task-header">
            <h1 class="task-header-title">暑期越南游，寻结伴出游伙伴，互相照应。</h1>
            <div class="task-header-meta">
              <a data-tid="" href="javascript:;">西湖</a>
              <a data-tid="" href="javascript:;">寻人</a>
            </div>
          </section> -->
        </div>
        <aside class="content-sidebar">
          <div class="stat">
            <a href="javascript:;">
              19.5k<br>
              问题数
            </a>
            <a href="javascript:;">
              19.5k<br>
              关注者
            </a>
            <a href="javascript:;">
              19.5k<br>
              相关team
            </a>
          </div>
          <section class="topic-related">
            <h2>Related Topics</h2>
            <ul class="-ulist">
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
              <li><a href="javascript:;">相关标签</a></li>
            </ul>
          </section>
        </aside>
      </section>
    </main>
    <pageview page="post" ident="5aeab8bd916d33bdb8bd6415">
    </pageview>
    <script type="text/javascript">
      window.__PAGE_STATE = {};
      window.__PAGE_STATE['post'] = {"_id":"5aeab8bd916d33bdb8bd6415","title":"装修找经验丰富的独立设计师","body":"<p>89方，装修队伍基本确定，个人偏好简美，或简港风格~&lt;/p>","member_level":null,"ant_credit":"","creator":{"_id":"59f987f8a25b83ca4c228023","name":"半夏","signature":"哈哈哈"},"created":"2018-05-03T07:22:37.335Z","__v":0,"last_modified":"2018-05-03T07:24:12.102Z","members":[""],"groups":[""],"member_tags":[""],"quantity":null,"valid_time":-1,"anonymous":false,"city":"310000","custom":"","bounty":8000,"coins":null,"views":0,"total_votes":8,"downvotes":0,"upvotes":8,"subscribers":null,"tags":[{"id":"5aeab8bd916d33bdb8bd6413","name":"装修","_id":"5aeab8bd916d33bdb8bd6417"},{"id":"5aeab8bd916d33bdb8bd6414","name":"设计师","_id":"5aeab8bd916d33bdb8bd6416"}],"content_abstract":{"text":"89方，装修队伍基本确定，个人偏好简美，或简港风格~"},"id":"5aeab8bd916d33bdb8bd6415"};
    </script>
</body>

</html>