@import "../common/scss/common/variables.scss";

.header {
    height: 60px;
    width: 100%;
    border-top: 3px solid #4c9e82;
    background-color:#fafafb;

    box-shadow: 0 1px 0 rgba(12,13,14,0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;

    .container {
        height: 57px;
    }
}

.header-site {
    .header-site-logo {
        display: flex;
        
        span {
            width: 48px;
            height: 48px;
            background: url('../common/svg/logo.svg') no-repeat center center;
            background-size: 100% auto;
            text-indent: -999em;
        }
    }
    .header-site-city {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 12px;

        .vm-switch {
            font-size: 11px;
            color: #666;

            &:hover {
                color:$link-hover-color;
            }
        }
    }
}

.header-content {

}


.header-content-nav {
    flex: 0 0 auto;
    .-link {
        display: inline-block;
        padding: 0 15px;
        color: #535a60;
        line-height: 57px;
        text-decoration: none;
        height: 57px;
        position: relative;
        transition: background-color cubic-bezier(.165, .84, .44, 1) .25s,border-bottom-color ease-in-out .25s;

        &:hover {
            background-color: #eff0f1;
            color: #242729;
            text-decoration: none;
            outline: none;
        }
    }
}

.header-content-search {
    position: relative;
    height: 36px;
    min-width: 240px;
    margin-left: 20px;
    flex: 0 1 auto;

    .vm-search {
        margin: 0;
        padding: 8px 16px;
        height: 36px;
        border-radius: 20px;
        width: 100%;
        color: #6a737c;
        border: 1px solid #c8ccd0;
        background-color: #ebecef;

        &::placeholder {
          color: #657786;
        }
    }

    .vm-submit {
      position: absolute;
      right: 16px;
      top: 9px;
      border: 0;
      cursor: pointer;
      background-color: transparent;

      i {
        &:before {
          font-size: 18px;
          color: #424d58;
        }
      }
    }
}

.header-action {
    display: flex;

    .-item {
        position:relative;
        width: 52px;
        text-align: right;
    }
    .-link {
        color: #848d95;
        display: inline-block;
        padding: 0 12px;
        height: 57px;
        line-height: 57px;
        text-decoration: none;
        white-space: nowrap;
        position: relative;
        transition: background-color cubic-bezier(.165, .84, .44, 1) .25s,color cubic-bezier(.165, .84, .44, 1) .25s;

        i:before {
            font-size: 20px;
        }
    }
}