<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>发布问题 - 知鱼</title>
    <meta name="Keywords" content="关键词" />
    <meta name="Description" content="描述" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
    <link href="/css/ask.css" rel="stylesheet">
</head>

<body class="page-ask">
    <% include "layout/header.html" %>
    <main id="content" class="container flex-justify-between">
        <div class="content-column">
            <form class="form" id="askForm">
                <div class="form-group">
                    <label for="title" class="vm-label">标题 <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="title" placeholder="一句话描述你的问题">
                </div>
                <div class="form-group">
                    <div class="form-group-hd flex-justify-between">
                        <label class="vm-label">问题说明 <span class="vm-remark font-normal"> 可选填</span></label>
                        <span>
                            <i>A</i>
                            <i>口</i>
                        </span>
                    </div>
                    <div class="editor">
                        <textarea name="content" class="form-control autosize" rows="3" placeholder="关于问题的详细描述"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group-hd flex-justify">
                        <label class="vm-label">选择标签</label>
                        <span class="vm-remark">标签越精准，越容易让相关领域专业人士看到你的问题</span>
                    </div>
                    <input type="text" class="form-control" name="tag" placeholder="搜索标签">
                </div>

                <div class="form-group ask-reward">
                    <label class="vm-label">提供报酬 <span class="text-danger">*</span> <span class="vm-remark font-normal"> 任选一项，支持多项</span></label>
                    <div class="form-group-content">
                        <div class="form-inline">
                            <label>
                                金<span class="s-space"></span>币：
                            </label>
                            <input type="text" class="form-control" name="jinbi" placeholder="数量" /> 个
                        </div>
                        <div class="form-inline">
                            <label>
                                赏<span class="s-space"></span>金：
                            </label>
                            <input type="text" class="form-control" name="yuan" placeholder="金额" /> 元
                        </div>
                        <div class="form-inline">
                            <label>
                                自定义：
                            </label>
                            <input type="text" class="form-control vm-custom" name="zidingyi" placeholder="任何你想到可以作为报酬的事物" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group-hd">
                        <label for="title" class="vm-label">发布范围</label>
                        <a class="fs12">[切换城市]</a>
                    </div>
                    <div class="form-inline">
                        <div class="radio">
                            <label>
                                <input type="radio" name="area" value="310000" checked>杭州
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="area" value="00000">所有城市
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="vm-label">
                        匿名
                    </label>
                    <input type="checkbox" name="anonymous" value="true">
                </div>

                <section v-show="isShowAskMore" class="ask-more mt20">
                    <div class="ask-more-separate flex-justify-center">
                        <span class="vm-text">更多</span>
                    </div>
                    <div class="form-group">
                        <label for="title" class="vm-label">任务有效时间</label>
                        <div class="form-group-content">
                            <label><input type="radio" name="validTime" value="00000">不限</label>
                            <label><input type="radio" name="validTime" value="00000">半个月</label>
                            <label><input type="radio" name="validTime" value="00000">三天</label>
                            <label><input type="radio" name="validTime" value="00000">当天</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="vm-label">设置为多人次任务</label>
                        <div class="form-inline">
                            <input class="form-control form-control-sm" type="text" name="quantity" value="" placeholder="输入可以被多少人完成">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="vm-label">设置任务响应条件<span class="vm-remark font-normal"> 符合或超出以下条件方能看到问题</span></label>
                        <div class="form-inline">
                            <label>实名认证</label>
                            <input type="checkbox" name="anonymous" value="true">
                        </div>
                        <div class="form-inline">
                            <label>会员等级</label>
                            <select class="form-control form-control-sm" name="" id="">
                                <option value="0" selected >普通用户</option>
                                <option value="1">大众会员</option>
                                <option value="2">黄金会员</option>
                                <option value="3">钻石会员</option>
                            </select>
                        </div>
                        <div class="form-inline">
                            <label>芝麻信用</label>
                            <select class="form-control form-control-sm" name="" id="">
                                <option value="0" selected >普通</option>
                                <option value="A">良好（600分以上）</option>
                                <option value="B">优秀（650以上）</option>
                                <option value="C">极好（700分以上）</option>
                                <option value="C">750分以上</option>
                                <option value="D">800分以上</option>
                                <option value="E">850分以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="vm-label">定向发布</label>
                        <div class="form-inline">
                            <label>关注标签</label>
                            <input class="form-control form-control-sm" type="text" name="quantity" value="" placeholder="搜索标签">
                        </div>
                        <div class="form-inline">
                            <label>指定团队</label>
                            <input class="form-control form-control-sm" type="text" name="quantity" value="" placeholder="搜索团队">
                        </div>
                        <div class="form-inline">
                            <label>指定用户</label>
                            <input class="form-control form-control-sm" type="text" name="quantity" value="" placeholder="搜索用户">
                        </div>
                    </div>
                </section>

                <a class="ask-more-toggle" v-on:click.prevent = "isShowAskMore = !isShowAskMore" href="#">
                        {{isShowAskMore ? '收起更多设置' : '更多设置'}}
                    <i class="iconfont icon-ask-more" v-bind:class=""></i>
                    <span class="vm-remark">（有效时间/多人次任务/响应条件/定向发布）</span>
                </a>

                <!--<div class="form-group">
                    <label for="title" class="vm-label">验证码</label>
                    <div class="form-inline">
                        <input type="text" class="vm-control" name="expect" />
                    </div>
                </div>-->

                <div class="ask-sure">
                    <button class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
        <aside class="content-sidebar">
            <div class="sidebar-inner">
                <section class="ask-notice">
                    已有 383894 人获得帮助。
                </section>
                <section class="ask-notes mt5">
                    <h2>发布问题须知：</h2>
                    <p>1. 只有带红色符号的为必填项，其他皆可不填。</p>
                    <p>2. 金币用于兑换礼物，参与活动，作为提问或发布需求奖励，每个账号注册后自动发放50金币。</p>
                    <p>3. 鼓励发布赏金任务，可获得系统奖励金币，当前余额不足时需要充值，可自由提现。</p>
                    <p>4. 关于自定义奖励，范围不限，需求发布者与响应者自行完成领取和发放，防范相关风险。</p>
                    <br>
                    <h2>注意：</h2>
                    <p>在更多中设置任务有效时间、开启多人完成模式，限制任务可以被哪些用户看到，响应完成。</p>
                    <p class="text-right">
                        <a href="#">访问帮助中心</a>
                    </p>
                </section>
            </div>
        </aside>
    </main>
    <script type="text/javascript" src="/js/vendor.js"></script>
    <script type="text/javascript" src="/js/ask.js"></script>
</body>

</html>
