<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>来往 - 知鱼</title>
  <meta name="Keywords" content="关键词" />
  <meta name="Description" content="描述" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  <link href="/css/contact.css" rel="stylesheet">
</head>

<body class="page-task">
  <% include "layout/header.html" %>
  <main id="content" class="container">

      <section class="contact-row function">
        <div class="function-item">
          <a class="bottle" href="#">
              漂流瓶
          </a>
        </div>
        <div class="function-item">
          <a class="inlove" href="#">
              相亲交友
          </a>
        </div>
        <div class="function-item">
          <a class="inlove" href="#">
              物品交换
          </a>
        </div>
        <div class="function-item">
          <a class="yard" href="#">
              后花园论坛
          </a>
        </div>
      </section>

      <div class="contact-row mt30">
        <section class="party">
          <ul>
            <li>
              <div class="-image">
                  <a data-japp="oplog" data-type="thc" data-key="http://www.mafengwo.cn/traveller/article.php?id=1868" href="http://www.mafengwo.cn/traveller/article.php?id=1868" target="_blank">
                      <img src="http://seopic.699pic.com/photo/50051/8002.jpg_wh1200.jpg" width="420">
                  </a>
              </div>
              <h3>
                  <a href="http://www.mafengwo.cn/traveller/article.php?id=1868" target="_blank">一座岛屿的可能性</a>
              </h3>
            </li>
            <!-- <li>精选</li>
            <li>推广</li>
            <li>专题</li> -->
          </ul>
        </section>

        <section class="attention">
          <div class="attention-top">
            <h3 class="-title">84年 秀气甜美型 希望能在这遇见你</h3>
            <p class="-info">独生子女，爸妈都同情达理，很好相处，身高159厘米，体重91斤，不胖不瘦，算苗条颜值中等吧，秀气中带点恬静淡雅性格：温和乐观，阳光 开朗中带点文静...</p>
          </div>
          <div class="attention-top">
            <h3 class="-title">28岁，身高180，长相清秀，家在城东，诚觅良缘</h3>
            <p class="-info">我180身高，65公斤，喜欢旅游，烹饪，烘焙，运动，足球，篮球，羽毛球等。没有不良嗜好，不吸烟不喝酒。
我希望找一个活泼开朗，乐观好相处的。 </p>
          </div>
          <a class="attention-link" href="#">
              年薪20W+的金牛座小伙 想找身材修长的姑娘
          </a>
          <a class="attention-link" href="#">
              年薪20W+的金牛座小伙 想找身材修长的姑娘
          </a>
          <a class="attention-link" href="#">
              年薪20W+的金牛座小伙 想找身材修长的姑娘
          </a>
        </section>

        <section class="fish">
          <div class="fish-hd">
            附近的人
          </div>
          <ul class="fish-member">
            <li>
              <span class="u-avatar"><a href="/u/95176512.html" target="_blank"><img src="http://n3-q.mafengwo.net/s10/M00/9B/6E/wKgBZ1nIxQ2APpXCAAuoTwhuODM06.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/95176512.html" target="_blank">lily</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/10493460.html" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/10493460.html" target="_blank">笑辰</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/95165748.html" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/95165748.html" target="_blank">shinephoon</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/37985562.html" target="_blank"><img src="http://n2-q.mafengwo.net/s10/M00/36/88/wKgBZ1nGjhKAIIBHAAMY6qtw-1s56.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/37985562.html" target="_blank">喵呜呜~</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/60565769.html" target="_blank"><img src="http://p1-q.mafengwo.net/s10/M00/AE/2A/wKgBZ1m1LwqAGhOmAASzSc9RPkw87.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/60565769.html" target="_blank">春天来了</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/71935752.html" target="_blank"><img src="http://n2-q.mafengwo.net/s10/M00/1D/00/wKgBZ1ko8B2AEPQxAAsytLdf3vM58.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/71935752.html" target="_blank">双鱼座绵羊</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/31580777.html" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/48/68/wKgBZ1kAeXeAUnIGAABhXP2UUcY94.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/31580777.html" target="_blank">李昂</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/93954126.html" target="_blank"><img src="http://b3-q.mafengwo.net/s10/M00/48/B5/wKgBZ1kAeeiAXfnNAABXZKqrvCE90.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/93954126.html" target="_blank">波赛冬</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/55555493.html" target="_blank"><img src="http://n4-q.mafengwo.net/s10/M00/8B/55/wKgBZ1nBrLKACDQiAABj8vcaxFE91.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/55555493.html" target="_blank">超级蘑菇</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/19314381.html" target="_blank"><img src="http://c1-q.mafengwo.net/s5/M00/5C/C3/wKgB21AJbyGpeo7vAAKYf3V51m030.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/19314381.html" target="_blank">瓦罐在尼泊尔</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/93852992.html" target="_blank"><img src="http://c3-q.mafengwo.net/s10/M00/8B/22/wKgBZ1nCCHOAdAmUABszZYYLn6U33.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/93852992.html" target="_blank">阿裴</a></span>
            </li>
            <li>
              <span class="u-avatar"><a href="/u/94320789.html" target="_blank"><img src="http://c2-q.mafengwo.net/s10/M00/A2/49/wKgBZ1m_H7eAcSuaAANHrwtlTIY19.jpeg?imageMogr2%2Fthumbnail%2F%2148x48r%2Fgravity%2FCenter%2Fcrop%2F%2148x48%2Fquality%2F90"></a></span>
              <span class="u-name"><a href="/u/94320789.html" target="_blank">盈盈秋水</a></span>
            </li>
          </ul>
          </div>
        </section>
      </div>

      <div class="contact-row locate-server mt20">
          <div class="-item first">
            <h5 class="-title">
                政策法规
            </h5>
            <div class="-group">
              <a href="#">户籍政策</a>
              <a href="#">房产限购政策</a>
              <a href="#">入学政策</a>
              <a href="#">医保政策</a>
              <a href="#">养老政策</a>
              <a href="#">限行法规</a>
              <a href="#">地铁规划</a>
            </div>
          </div>
          <div class="-item second">
              <h5 class="-title">
                  综合服务
              </h5>
            <div>
              股票开户，PPP理财，学历提升，驾考，
            </div>
          </div>
          <div class="-item third">
              <h5 class="-title">
                  生活
              </h5>
            <div class="-group">
                <a href="#">健康</a>
                <a href="#">时尚</a>
                <a href="#">每周鲜花</a>
                <a href="#">手工</a>
                <a href="#">装修</a>
                <a href="#">旅行</a>
                <a href="#">装修</a>
                <a href="#">汽车</a>
                <a href="#">代购</a>
                <a href="#">烘焙</a>
            </div>
          </div>
          <div class="-item fourth">
              <h5 class="-title">
                  娱乐
              </h5>
            <div>
              视频共享账号，游戏共享账号，陪玩
            </div>
          </div>
      </div>
      <!-- <div class="tuiguang">
          <img src="//openfile.meizu.com/group1/M00/02/0D/Cgbj0Vm2QWGAS-8TAABi8NS9M3U867.jpg" class="home-floor-ad-img">
      </div> -->
      <section class="swap mt20">
        <div class="swap-hd">
          物品交换
        </div>
        <ul class="swap-bd">
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
          <li class="-item">
              <a class="-avatar" href="#" style="background-image: url(https://images.apple.com/cn/apple-watch-series-3/images/overview/health_apps_medium.jpg);background-size: cover;">
              </a>
              <div class="-info">
                <p class="-link" href="#" target="_blank">
                  月初新购 iphone watch 9.5成新
                </p>
                <p class="-extra">
                  <i class="ion ion-ios-heart"></i>人气27
                </p>
              </div>
          </li>
        </ul>
      </section>

      <section class="bbs mt20">
        <div class="-title">
          论坛热门
        </div>
        <div class="-bd">
          <div class="-topic">
            
          </div>
          <div class="-list">
            <ul>
              <li class="-item">
                <a class="-title" href="#">High school volleyball player makes an absurd flying save</a>
                <p class="-tagline">
                  <a href="#" class="author">nickname</a>
                  于
                  <time class="live-timestamp">23小時前</time> 發表至 <a href="#" class="subreddit">baseball</a>
                </p>
                <p>
                  <a href="#" class="comments" rel="nofollow">1104 留言</a>
                  <a class="sharing" href="#">分享</a>
                  <a class="reportbtn" href="#">檢舉</a>
                </p>
              </li>
              <li class="-item">
                <a class="-title" href="#">High school volleyball player makes an absurd flying save</a>
                <p class="-tagline">
                  <a href="#" class="author">nickname</a>
                  于
                  <time class="live-timestamp">23小時前</time> 發表至 <a href="#" class="subreddit">baseball</a>
                </p>
                <p>
                  <a href="#" class="comments" rel="nofollow">1104 留言</a>
                  <a class="sharing" href="#">分享</a>
                  <a class="reportbtn" href="#">檢舉</a>
                </p>
              </li>
              <li class="-item">
                <a class="-title" href="#">A slime mold finding food in a petri dish. It's like a natural path finding algorithm.</a>
                <p class="-tagline">
                  <a href="#" class="author">nickname</a>
                  于
                  <time class="live-timestamp">23小時前</time> 發表至 <a href="#" class="subreddit">baseball</a>
                </p>
                <p>
                  <a href="#" class="comments" rel="nofollow">1104 留言</a>
                  <a class="sharing" href="#">分享</a>
                  <a class="reportbtn" href="#">檢舉</a>
                </p>
              </li>
              <li class="-item">
                <a class="-title" href="#">Geoff couldn’t believe that Mom wanted her ashes scattered where he was drunkenly conceived</a>
                <p class="-tagline">
                  <a href="#" class="author">nickname</a>
                  于
                  <time class="live-timestamp">23小時前</time> 發表至 <a href="#" class="subreddit">baseball</a>
                </p>
                <p>
                  <a href="#" class="comments" rel="nofollow">1104 留言</a>
                  <a class="sharing" href="#">分享</a>
                  <a class="reportbtn" href="#">檢舉</a>
                </p>
              </li>
              <li class="-item">
                <a class="-title" href="#">High school volleyball player makes an absurd flying save</a>
                <p class="-tagline">
                  <a href="#" class="author">nickname</a>
                  于
                  <time class="live-timestamp">23小時前</time> 發表至 <a href="#" class="subreddit">baseball</a>
                </p>
                <p>
                  <a href="#" class="comments" rel="nofollow">1104 留言</a>
                  <a class="sharing" href="#">分享</a>
                  <a class="reportbtn" href="#">檢舉</a>
                </p>
              </li>
              <li class="-item">
                <a class="-title" href="#">President of the United States. If this gets enough upvotes it will appear when you google “President of the United States.”</a>
                <p class="-tagline">
                  <a href="#" class="author">nickname</a>
                  于
                  <time class="live-timestamp">23小時前</time> 發表至 <a href="#" class="subreddit">baseball</a>
                </p>
                <p>
                  <a href="#" class="comments" rel="nofollow">1104 留言</a>
                  <a class="sharing" href="#">分享</a>
                  <a class="reportbtn" href="#">檢舉</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
  </main>

  <% include "layout/footer.html" %>
</body>

</html>